
article.issues {

    section {

        table#issues {

            td {

                &.issues-season {
                    white-space: nowrap;
                    width:1%;
                }

                &.issues-name {
                    white-space: nowrap;
                    width:1%;
                }

                &.issues-created_at {
                    width:1%;
                    white-space: nowrap;
                }
            }
        }

        @media only screen and (max-width: 480px) {

           table#issues {

                td, th {
                    &.issues-season {
                        width:auto;
                    }

                    &.issues-name {
                        width:auto;
                    }

                    &.issues-note {
                        width:100%;
                    }

                    &.issues-created_at {
                        width:100%;
                        text-align: right;
                    }
                }
            }
        }
    }
}
