@import "variables";

article.issues.show {

	section {

		&#issue_add_goods {
			padding: 0.25em;
		}

		table#issues-good {

			td.goods-ident, td.local_tarics-kncode {
				white-space: nowrap;
                width:1%;
			}
		}

		&.filter_warning {
			overflow: hidden;
			width: 100%;
			//padding: 1em;

			tr {
				background-color: $soft_red;

				td {
					padding: 0.25em 0.375em;
					font-weight: bold;
					font-style: italic;
				}
			}
		}
	}
}