
<%= form_tag(url: export_goods_path) do |f| %>
    <div class="decorated_wrap shrinked">

        <table class="for_nontabular with_controls confirmation">
            <caption>Export</caption>
            <thead></thead>
            <tbody>
                <tr>
                    <td></td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="10">
                        <button type="button" class="button confirmation_ok">OK</button>
                        <button type="button" class="button confirmation_cancel">Storno</button>
                    </td>
                </tr>
            </tfoot>
        </table>

    </div>

<% end %>



