
<% content_for :popup do %>
    <div class="decorated_wrap shrinked">
        <table class="for_nontabular with_controls confirmation">
            <caption>Ste si istý ?</caption>
            <thead></thead>
            <tbody>
                <tr>
                    <td>Ste si istý že chcete odstrániť túto položku ?</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="10">
                        <button type="button" class="button confirmation_ok">OK</button>
                        <button type="button" class="button confirmation_cancel">Storno</button>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>

<% end %>
