<% num_of_results = obj.total_count %>

<% if num_of_results > 0 %>

    <section class="decorated_wrap">

         <table class="items_table rows_colored with_efects">

            <caption>
                <%= obj.model_name.human %>
            </caption>

            <thead>
                <tr>
                    <%= items_table_head(
                        fields,
                        obj.model
                    ) %>
                </tr>
            </thead>

            <tbody>
                <% obj.each do |row| %>
                    <tr>
                         <%= items_table_fields(row, fields) %>
                    </tr>
                <% end %>
            </tbody>

            <tfoot>
                <tr>
                    <td>

                        <b><%= num_of_results %></b>
                    </td>
                </tr>
            </tfoot>

         </table>

    </section>

<% end %>
