@import "variables";

body.new, body.edit, body.create, body.update {

    main {

        section {

            form {

                aside {

                    article.uoms {

                        div.delete_info {

                            u {
                                float:right;
                                cursor:pointer;

                                &:hover {
                                    color: $strong_white;
                                }
                            }

                            span {
                                float:left;
                            }
                        }
                    }
                }
            }
        }
    }
}
