@import "variables";

@media only screen and (max-width: 480px) {

	article.goods.show {

		section {

			table#goods-uom {

				th, td {

					&.uoms-uom, &.uoms-uom_multiplier, &.uoms-type  {
						width:33.33%;
					}

					&.uoms-manufacturer_name, &.uoms-impexpcompany_name {
						width:50%;
					}

					&.uoms-uom, &.uoms-uom_multiplier {
						font-weight: bold;
					}

					&.uoms-manufacturer_name, &.uoms-impexpcompany_name {
						font-style: italic;
					}
				}
			}
		}
	}
}