@import "variables";

@media only screen and (max-width: 480px) {

	article.goods.show {

		section {

			table#goods-uom {

				th, td {

					&.uoms-uom, &.uoms-uom_multiplier, &.uoms-type  {
						width:33.33%;
					}

					&.uoms-manufacturer_name, &.uoms-impexpcompany_name {
						width:50%;
					}

					&.uoms-uom, &.uoms-uom_multiplier {
						font-weight: bold;
					}

					&.uoms-manufacturer_name, &.uoms-impexpcompany_name {
						font-style: italic;
					}
				}
			}

			&.not_resolved {

				tr {
					background-color: $soft_red;
				}
			}
		}
	}


}

article.goods.show {

	section {

		table#goods-manufacturer {

			td {

				&.manufacturers-name {
					white-space: nowrap;
					width:1%;
				}
			}


			th, td {

				&.inner_table {

					table {
						table-layout: fixed;

						th, td {
							width: 25%;
						}
					}
				}
			}
		}
	}

	section.not_resolved {

		table {

			tbody {

				tr {
					background-color: $soft_red;
				}
			}	
		}
	}

	section.resolved {
		
	}
}