
<% if !@task_banned_for_user %>

    <% content_for :search_bar do %>

    	<form class="decorated_wrap shrinked">

    		<div>

    			<div class="searchform_actions"><!--

    				--><%= render "/layouts/shared/actions/add_new_button" %><!--
    				--><%= render "/layouts/shared/actions/go_to_administrative" %><!--

    			--></div>

    		</div>

    	</form>

    <% end %>

<% end %>
