<% content_for :submenu do %>

	<nav class="top_menu sub">

		<ul>

			<li>
				<%= active_link_to(
					t("settings.sections.general"),
					settings_path,
					active: :exclusive
				) %>
			</li>

			<li>
				<%= active_link_to(
					t("settings.sections.uom_types"),
					uom_types_path
				) %>
			</li>

			<li>
				<%= active_link_to(
					t("settings.sections.incoterms"),
					incoterms_path
				) %>
			</li>

		</ul>

	</nav>

<% end %>