<% items.each do |item| %>

	<tr <%= 'class="selected"'.html_safe if item.id == params[:good][:client_filter].to_i %>>

		<td> 
			<%= item.company_name %>
		</td>
		
		<td> 
			<%= item.affiliated_office %>
		</td>

	</tr>

<% end %>