article.incoterms {

	section {

		table#incoterms {

			td, th {

				&.incoterms-shortland {
					white-space: nowrap;
				}
			}
		}

		@media only screen and (max-width: 480px) {

		  	table#incoterms {

				td, th {

					&.incoterms-shortland {
						width:100%;
						font-weight: bold;
					}
				}
			}
		}
	}
}
