<%= render 'layouts/base/main_menu' %>

<section class="form">

	<%= form_for @record, @form_url do |t| %>

		<%= new_edit(
			obj: t,
			fields: {
				company_name: { 
					autofocus: true,
					js_check_existence: true
				}
			}
		) %>

		<%= new_edit(
			obj: t,
			type: :submit
		) %>

	<% end %>

</section>