<% 
	klass = "disabled" if opts[1].nil? || !opts[1].collect(&:id).any?
	disabled = klass == 'disabled' ? true : false
	klass_html = (html_class if defined?(html_class))||("")
%>

<div>
	<%= obj.label opts.first %>
	<div class="select_wrapper <%= "#{klass} #{klass_html}" %>">
		<%= obj.collection_select(*opts, disabled: disabled) %>
		<span></span>
	</div>
</div>