<% 
	is_blank = (defined?(blank_text)).nil? ? false : blank_text
	is_disabled = (collection.nil? || !collection.collect(&:id).any?) && (is_blank != false) ? 'disabled' : false
	klass_html = defined?(html_class) ? html_class : ""
%>

<div>
	<%= obj.label send_parameters_name %>
	
	<%= obj.select(
		send_parameters_name,
		collection
			.collect { |c| [ c.send(method_to_get_texts), c.send(method_to_get_vals) ] }
			.reject { |x| x[0].nil? },
		{ 
			include_blank: is_blank
		},
		{
			disabled: is_disabled,
			class: klass_html
		}
	) %>
	
</div>