<% 
if (defined? id)&&(!id.blank?)
	html_id = id
else
	html_id = "#{obj.object.class.name.underscore}_#{field_name}"
end
%>

<div>
	<%= obj.label field_name %>

		<%= new_form_plain_textfield(
			obj: obj,
			field: field_name,
			type: opts[:type],
			id: html_id,
			default_val: prefill_from_search_field(opts[:prefill_from_mem_param])
		) %>

</div>