<div>

	<%= obj.label(
		field_name,
		class: (opts[:required] ? "required" : "")
	) %>

	<%= new_form_plain_textfield(
		obj: obj,
		field: field_name,
		type: opts[:type],
		default_val: prefill_from_search_field(opts[:prefill_from_mem_param]),
		autofocus: opts[:autofocus],
		js_check_existence: opts[:js_check_existence],
        html_class: defined?(html_class) ? html_class : "",
        required: opts[:required]
	) %>

	<% if opts[:google_search] %>
		<button class="search_item_on_google" type="button">
			<%= t 'goods_search.google' %>
		</button>
	<% end %>

</div>
