
<% 
	if defined? assoc
		# if association
		object = assoc
		parent_errs = obj.object.errors["#{object.class.to_s.downcase.pluralize}_attributes"]
	else
		# if straight model
		object = obj.object
		parent_errs = []
	end

	if object.respond_to? :errors
		obj_errs = object.errors
	else
		obj_errs = []
	end
%>

<% if (obj_errs.any?)||(parent_errs.any?) %>

	<div class="form_errors">

		<% fields.each do |field_name, opts| %>
			<% if obj_errs[field_name].any? %>
				<% errclass = "#{object.class.to_s.underscore}_#{field_name.to_s}" %>
				<span class="errormessage <%= errclass %>">
					<%= obj_errs[field_name].first %>
				</span>
			<% end %>
		<% end %>

		<% if parent_errs.any? %>
			<% parent_errs.each do |err| %>
				<span>
					  <%= err %>
				</span>
			<% end %>
		<% end %>

	</div>

<% end %>
