<%
	is_blank = (defined?(blank_text)).nil? ? false : blank_text
	is_disabled = (collection.nil? || !collection.collect(&:id).any?) && (is_blank != false) ? 'disabled' : false
	any_errors = !obj.object.errors[collection.model_name.to_s.underscore].blank?
	is_selected = defined?(selected).nil? ? nil : selected.send(method_to_get_vals)

	klass_html = any_errors ? "error" : ""
	klass_html += defined?(html_class) ? " #{html_class}" : ""
%>

<div>
	<%= obj.label send_parameters_name %>

	<%= obj.select(
		send_parameters_name,
		options_for_select(
			collection
			.collect { |c| [ c.send(method_to_get_texts), c.send(method_to_get_vals) ] }
			.reject { |x| x[0].nil? },
			obj.object.send(send_parameters_name) || is_selected
		),
		include_blank: is_blank,
		disabled: is_disabled,
		class: klass_html
	) %>

</div>
