<article class="warning_required decorated_wrap shrinked">
    <span>
        <%= t('new_form_selects.warning_required_1') %>
        <b>**</b>
        <%= t('new_form_selects.warning_required_2') %>
    </span>
</article>