
<% 
# obj - passsed in AR object
obj_name = "#{obj.class.name.underscore}"

# coll - passed in collection to select from
coll_name = "#{coll.name.underscore}_ids"

# val_method - method to call on collection objects to get value
val_method = val_method || "id"

# text_method - method(s) to call on collection to get label(s) text
text_method = text_method || val_method

# this loads associations of passed in obj to match checked checkboxes later
associated_records = obj.send("#{coll.name.pluralize.underscore}")
# this checks for params hash to catch if unsaved 
pars = params.deep_has_key?(obj_name, coll_name) ? params[obj_name][coll_name] : []
%>

<div class="tablewrap">

	<table class="rows_colored with_efects checkboxes_list">

		<thead><tr><th></th></tr></thead>

		<tbody>

			<% coll.each do |c| %>

				<%= render('layouts/elements/table_list_checkboxes/row',
					obj_name: obj_name,
					coll_name: coll_name,
					val_method: val_method,
					label_method: text_method,
					obj: c, 
					checked: (associated_records.exists?(id: c.id))||(pars.include?(c.id.to_s))
				) %>

			<% end %>

		</tbody>

		<tfoot><tr><th></th></tr></tfoot>

	</table>

</div>