<%
# REQUIRED_PARAMS:
# obj - 		passsed in AR object
# coll - 		passed in collection of AR objects to select from

# OPTIONAL_PARAMS:
# val_method - 	method to call on collection objects to get value
# text_method - method(s) to call on collection to get label(s) text
# opts -		various options for decorating functions
%>

<div class="tablewrap">

	<table class="rows_colored with_efects radio_buttons_list <%= "disabled" if (disabled==true) %>">

		<thead><tr><th></th></tr></thead>

		<tbody>

			<%= new_form_has_one_select(
				generate_params_for_render_helper(local_assigns, :obj, :coll, :val_method, :text_method, :opts, :multiedit)
			) %>

		</tbody>

		<tfoot><tr><th></th></tr></tfoot>

	</table>

</div>
