
<% 
# obj - passsed in AR object
obj_name = "#{obj.class.name.underscore}" if !defined? parent_model_name
obj_name = parent_model_name if defined? parent_model_name

# coll - passed in collection to select from
coll_name = "#{coll.name.underscore}_id"

# val_method - method to call on collection objects to get value
val_method = val_method || "id"

# text_method - method(s) to call on collection to get label(s) text
text_method = text_method || val_method
%>

<div class="tablewrap">

	<table class="rows_colored with_efects radio_buttons_list">

		<thead><tr><th></th></tr></thead>

		<tbody>

			<% coll.each do |c| %>

				<%= val_method %>

				<%= render('layouts/elements/table_list_radio_buttons/row',
					obj_name: obj_name,
					coll_name: coll_name,
					val_method: val_method,
					label_method: text_method,
					obj: c
				) %>

			<% end %>

		</tbody>

		<tfoot><tr><th></th></tr></tfoot>

	</table>

</div>