<%
# REQUIRED PARMAS:

# obj 			- passed in parent AR object
# coll 			- collection of associations to select from

# OPTIONAL PARAMS:

# val_method 	- method to call on collection objects to get value
# text_method 	- method(s) to call on collection to get label(s) text
# opts 			- various options for decorator functions
%>

<div class="tablewrap">

	<table class="rows_colored with_efects checkboxes_list">

		<thead><tr><th></th></tr></thead>

		<tbody>

			<%= new_form_has_many_select(
				generate_params_for_render_helper(local_assigns, :obj, :coll, :val_method, :text_method, :opts)
			) %>

		</tbody>

		<tfoot><tr><th></th></tr></tfoot>

	</table>

</div>