@import "variables";

body.tride {

	.decorated_wrap {
		box-shadow: 4px 4px 8px -2px black;
		border-style: solid;
		border-bottom-width:$border_2x_width;
		border-right-width:$border_2x_width;
		border-left-width:1px;
		border-top-width:1px;
	}

	input,
	textarea,
	button, .button,
	select,
	div.multiselect
	{
		box-shadow: 1px 1px 2px 0px black;
	}

	table td > sup {
		margin: 0.375em;
		box-shadow: 2px 2px 4px 0px black;
		border: 1px solid $white;
	}

	caption, div.caption {
		border-bottom: 0.125em solid $widget_caption_3D_shadow;
		border-top-right-radius: 0.25em;
	}

	section.form {

		article > div.tablewrap {
			border-top: 1px solid $halftone;
			border-left: 1px solid $halftone;
			box-shadow: 2px 2px 4px 0px black;
			margin-right:0.5em;
			margin-left:0.375em;

			table {
				border-right: 0;
			}
		}
	}

	@media only screen and (min-width: 480px) {

		nav {

			&.top_menu {

				ul {
					position:relative;

					div {
						padding-bottom: 2px; /*because rotate hack applied*/

						&::after, &::before {
							content: "";
							width:100%;
							height: 0.125em;
							position: absolute;
							display: none;
							left:0;
							right:0;
						}

						&::after {
							top: 0;
						}

						&::before {
							top: 100%;
						}

						li {
							position:relative;

							a {
								margin-left: 0.125em;
								position:relative;

								&::after {
									@include  menu_transitions();
									content: "";
									position: absolute;
									top:0;
									left:0.125em;
									right:0;
									bottom:0;
									border-top-left-radius: 0.25em;
									border-top-right-radius: 0.25em;
									opacity: 0;
								}
							}
						}
					}
				}

				ul.main {

					div {

						&::after {
							background-color: $main_menu_item_3D_shadow;
							display: block;
						}

						a {

							&::after {
								box-shadow: -2px -1px 0px 1px $main_menu_item_3D_shadow;
							}
						}

						li.active, li:hover, li.hover {
							position:relative;

							a {

								&::after {
									opacity: 1;
								}
							}
						}
					}
				}

				ul.sub {

					div {

						&::after, &::before {
							background-color: $sub_menu_item_3D_shadow;
						}

						a {

							&::after {
								box-shadow: -2px -1px 0px 1px $sub_menu_item_3D_shadow;
							}
						}

						li.active, li:hover, li.hover {

							a {

								&::after {
									opacity: 1;
								}
							}
						}
					}

					&.active {

						div {

							&::after {
								display: block;
							}
						}
					}

					&.noactive {

						div {

							/*&::before,*/ &:after {
								display: block;
							}
						}
					}

					&.novisible {

						div {

							&::before, &:after {
								display: none;
							}
						}
					}
				}
			}

			&.pagination {

				ul {

					div.wrap.center {

						li {

							a.active {
								box-shadow: -2px 1px 0px 1px $sub_menu_item_3D_shadow;
							}
						}
					}
				}
			}
		}
	}
}
