@import "variables";

body.tride {

	.decorated_wrap {
		box-shadow: 4px 4px 8px -2px black;
		border-color:$wrap_border_color;
		border-style: solid;
		border-bottom-width:$border_2x_width;
		border-right-width:$border_2x_width;
		border-left-width:1px;
		border-top-width:1px;
		border-left-color: $wrap_border_color_2;
		border-top-color: $wrap_border_color_2;
	}

	input,
	textarea,
	button, .button,
	select
	{
		box-shadow: 1px 1px 2px 0px black;
	}

	table {

		caption {
			border-bottom: 0.125em solid $wrap_border_color;
		}
	}


	section.form {

		article.shrinked > div.tablewrap { 
			border-top: 1px solid $halftone;
			border-left: 1px solid $halftone;
			box-shadow: 2px 2px 4px 0px black;
			background-color: $group_background;
			margin-right:0.275em;

			table {
				border-right: 0;
			}
		}
	}

	nav {

		&.top_menu {

			ul.main {
				//border-top: 0.125em solid $halftone;
				&::after {
					content: "";
					display: block;
					width:100%;
					height: 2px;
					//color: red;
					background-color: $semi_grey;
					position: absolute;
					top:0;
					left:0;
					right:0;
				}

				div {
					padding-bottom: 2px; /*because rotate hack applied*/

					li {

						a {
							//border-bottom: 0.125em solid $semi_grey;

							&.active {
								box-shadow: -2px -1px 0px 1px $semi_grey;
								//border-bottom: none;
								//border-top: 0.175em solid $semi_grey;
								//border-left: 0.175em solid $semi_grey;
								//border-top-left-radius: 0.3725em;
								//border-top-right-radius: 0.25em;
							}
						}

						/*&:last-child {
							a {
								//border-right: 0.125em solid $soft_black;
							}
						}*/
					}
				}
			}

			ul.sub {

				&::after {
					content: "";
					display: block;
					width:100%;
					height: 2px;
					//color: red;
					background-color: $strong_grey;
					position: absolute;
					top:0;
					left:0;
					right:0;
					z-index: -1;
				}

				div {
					padding-bottom: 2px;

					li {
						z-index: 3;

						a {
							//border-bottom: 0.125em solid $semi_grey;

							&.active {
								box-shadow: -2px -1px 0px 1px $strong_grey;
								//border-bottom: none;
								//border-top: 0.175em solid $semi_grey;
								//border-left: 0.175em solid $semi_grey;
								//border-top-left-radius: 0.3725em;
								//border-top-right-radius: 0.25em;
							}
						}

						&:last-child {
							a {
								//border-right: 0.125em solid $soft_black;
							}
						}
					}
				}
			}
		}

		&.pagination {

			ul {

				div.wrap.center {

					li {

						a.active {
							box-shadow: -2px 1px 0px 1px $semi_grey;
						}
					}
				}
			}
		}
	}
}