
body.index, body.search {

	main {

		article {
			display: flex;
		}

		& > * {
			margin :0.375em 0.75em;
		}

		& > *:first-child {
			margin-top: 0.75em;
		}

		& > *:last-child {
			margin-bottom: 0.75em;
		}
	}
}