body.new.registrations,
body.new.sessions,
body.new.passwords

{

    main {

        article.login {
            margin: 0 auto;
            margin-top: 50%;

            section.login {
                margin-top: -50%;

                & > * {
                    float: left;
                    margin-right: 1em;

                    &:last-child {
                        margin-right: 0;
                    }
                }
            }

            /*@media only screen and (max-width: 480px) {

                section.decorated_wrap {
                    float: none;
                    margin: 0.75em 0;

                    &:first-child {
                        margin-top:0.375em;
                    }
                }
            }*/
        }
    }
}
