@import "variables";

body.update_multiple, body.edit_multiple {

	main {

		section {

			form {

				aside {
					padding: 0.375em 0.375em;

					&:nth-child(2n-1) {
						background-color: $semi_grey;
					}

					article {

						&:first-child {
							margin-top: 0;
						}

						&:last-child {
							margin-bottom: 0;
						}
					}
				}
			}
		}

		@media only screen and (max-width: 480px) {

		}
	}

}
