body.new, body.edit, body.create, body.update, body.edit_multiple, body.update_multiple {

	main {

		section {

			form {

				article {
					margin :0.75em 0.75em;

					div {

						table {

							tbody {

								tr {

									td:nth-child(2) {
										white-space: nowrap;
										overflow: ellipsis;
									}
								}
							}
						}
					}
				}
			}
		}

		@media only screen and (max-width: 480px) {
			padding-top:1.25em;
		}
	}

}