
body.index, body.search, body.administrative {

	main {

		article {
			display: flex;
		}

		& > * {
			margin :0.375em 0.75em;
		}

		& > *:first-child {
			margin-top: 0.75em;

			@media only screen and (max-width: 480px) {
				margin-top: 2em;
			}
		}

		& > *:last-child {
			margin-bottom: 0.75em;
		}
	}
}