@import "variables";

body.new.registrations,
body.edit.registrations,
body.update.registrations,
body.create.registrations,
body.new.sessions,
body.new.passwords,
body.create.passwords

{
    main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        //min-height: 100vh;

        article {

            section {
                margin: 1em;
            }

            &.login_errors {
                max-width: 50%;

                section {

                    table {

                        tbody {

                            tr.no_results {

                                td {
                                    border-bottom: 0.125em solid $halftone;
                                    font-weight: bold;
                                }
                            }

                            tr.solution {

                                td {
                                    padding-bottom: 0;

                                    ul {
                                        margin:0;
                                        padding-left: 1em;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
