
body.index, body.search, body.administrative {

	main {
		padding-top:0.375em;

		article {
			display: flex;
		}

		& > * {
			margin :0.375em 0.75em;
		}

		@media only screen and (max-width: 480px) {
			padding-top:1.625em;
		}
	}
}