body {
    z-index:1;
}

main {
    z-index: 2;
}

section, article, aside {
    z-index: 3;
}

b.copy_to_clipboard {
    z-index: 4;
}

nav {
    z-index: 7;
}

::-webkit-scrollbar {
    z-index: 9;
}

div.flash_messages.visible {
    z-index: 10;

    div {
        z-index: 11;
    }
}
