body {
    //z-index:1;
}

main {
    //z-index: 2;
}

figure.logo {
    //z-index: 3;
}

section, article, aside {
    //z-index: 4;
    position: relative;
}

b.copy_to_clipboard {
    //z-index: 5;
}

nav {
    z-index: 7;

    li.active {
        z-index: 8;
    }
}

::-webkit-scrollbar {
    z-index: 97;
}

div.flash_messages.visible {
    z-index: 98;

    div {
        z-index: 99;
    }
}
