body {
    z-index:1;
}

main {
    z-index: 2;
}

section, article, aside {
    z-index: 3;
}

b.copy_to_clipboard {
    z-index: 4;
}

nav {
    z-index: 8;
}

div.flash_messages.visible {
    z-index: 9;

    div {
        z-index: 10;
    }
}
