<%= render 'layouts/base/main_menu' %>

<section class="form">

	<%= form_for @record, @form_url do |t| %>

		<%= new_edit(
			obj: t,
			fields: {
				uom_type: {
					autofocus: true,
					js_check_existence: true,
					required: true
				},
				full_name: {

				},
				description: {
					type: :text_area
				}
			}
		) %>

		<%= new_edit(
			obj: t
		) %>

	<% end %>

</section>
