@import "variables";

section.form {

	div {
		display:table;
	}

	article {
		padding-bottom: 0.25em;
		padding-top: 0.25em;

		 div.delete_info {
            display: none;
            background-color: $dark_red;
            color: $white;
            padding: 0.25em 0.5em;
            box-sizing: border-box;
            margin-bottom: 0.125em;
        }

		&.disabled {
			pointer-events:none;
			//color: $disabled_input_text;
		}

		&.to_delete {
            background: none;
            background-color: $soft_red;

            div.delete_info {
                display: block;
            }
        }

		& > div {
			padding: 0 0.25em;
		}

		div {

			div {
				margin: 0 0.25em;
				width: auto;
				display: inline-block;
				line-height: 1.5em;

				&.remove_uom {
					display:none;
				}
			}

			span.checkbox_wrapper {
				display: table-cell;
				vertical-align: middle;
				padding-left: 0.375em;
				padding-right: 0.25em;
			}

			input.allow_add_new, input[type=checkbox] {
				//display: inline-block;
				line-height:1em;
				vertical-align: middle;
			}

			input.allow_add_new {
				display: inline-block;
			}

			div.select_wrapper {
				margin: 0.125em 0;

				//select.error {
					//background-color: $button_danger;
				//}
			}

			&.form_errors {

				span {
					margin: 0.125em 0.25em;
				}
			}

			&.tablewrap {
				padding:0;
				display: block;
				margin-top: 0.25em;
				margin-bottom: 0.25em;
				max-height: 7.5em;
				overflow-y: auto;
				border-radius: 0.375em;
			}

			&.caption {
				position:relative;
				bottom: 0.25em;
			}

			&.detach_assoc {
				text-align: right;
    			width: 100%;
    			box-sizing: border-box;
			}

			label {
				margin-right: 0.125em;
			}

			table {
				cursor: pointer;
				width: 100%;

				tbody {

					tr {

						td {

							label {
								height: auto;
								line-height: 1.25em;
								cursor: pointer;
							}
						}

						td.new_form_select_no_results {
							background-color: $table_row_error_background;
							color: $table_row_error_text;
							padding: 0.25em 0.5em;

							h2 {
								margin-bottom:0.25em;
								font-weight: bold;
							}
						}
					}
				}
			}

			picture, div.files	{

				&.to_delete {
					background-color: $soft_red;
				}

				div {

					&.to_delete {
						background-color: $soft_red;
					}

					label.button {
						margin: 0.25em 0em;
					}

					label.remove_image {
						display: none;
					}

					input[type=checkbox] {
						display: none;
					}

					input[type=checkbox] + label {
						background-color: $dark_red;
						font-weight: bold;
						color: $white;
					}

					input[type=checkbox] + label:hover {
						background-color: $strong_red;
						color: $strong_white;
					}

					input[type=checkbox]:checked + label {
						//background-color: $red;
						background-color: $strong_red;
						color: $strong_white;
					}
				}

				&.on_server, &.to_upload {

					div {

						label.remove_image {
							display: inherit;
						}
					}
				}

				&.files {
					margin:0 0.125em;

					div {
						margin:0;
					}
				}
			}
		}
	}
}
