@import "variables";

section.form {

	div {
		display:table;
	}

	article {
		background-color: $group_background;
		padding:0.25em;

		&.disabled {
			pointer-events:none;
			color: $disabled_input_text;
		}

		div {
			//width: 100%;

			div {
				margin: 0em 0.25em;
				width: auto;
				display: inline-block;
				line-height: 1.5em;

				&.remove_uom {
					display:none;
				}
			}

			span.checkbox_wrapper {
				display: table-cell;
				vertical-align: middle;
				padding-left: 0.375em;
				padding-right: 0.25em;
			}

			input.allow_add_new {
				display: inline-block;
				line-height:1em;
				vertical-align: middle;
			}

			div.select_wrapper {
				margin: 0.125em 0;

				select.error {
					background-color: $button_danger;
				}
			}

			&.form_errors {

				span {
					display: inline-block;
					background-color: $button_danger;
					color: white;
					padding: 0.125em 0.25em;
					margin: 0.125em 0.25em;
					margin-top: 0.25em;
					border-radius: 0.25em;
				}
			}

			&.caption {
				padding: 0 0.125em;
			}

			label {
				margin-right: 0.125em;
			}

			table {
				cursor: pointer;
				width: 100%;

				tbody {

					tr {

						td {

							label {
								height: auto;
								line-height: 1.25em;
								cursor: pointer;
							}
						}

						td.new_form_select_no_results {
							background-color: $button_danger;
							color: $superwhite;
							padding: 0.25em 0.5em;

							h2 {
								margin-bottom:0.25em;
								font-weight: bold;
							}
						}

						&:first-child {

							td {

								&:first-child {
									border-top-left-radius: 0.25em;
								}

								&:last-child {
									border-top-right-radius: 0.25em;
								}
							}
						}

						&:last-child {

							td {

								&:first-child {
									border-bottom-left-radius: 0.25em;
								}

								&:last-child {
									border-bottom-right-radius: 0.25em;
								}
							}
						}
					}
				}
			}
		}
	}

	article > div.tablewrap {
		display: block;
		//width:99.5%;
		//margin-left:0.5%;
		margin-top: 0.25em;
		margin-bottom: 0.25em;
		max-height: 7.5em;
		overflow-y: auto;
		border-radius:0.25em;

		&.dual {
			width:49%;
			display:inline-block;
			vertical-align: top;
		}
	}

	article.shrinked > div.tablewrap {
		width:auto;
		//margin-left:0.25em;
		//margin-right:0.25em;

		& > table {
			border-right: 0.5em solid transparent;
		}
	}
}
