@import "variables";

footer {
	background-color: $background_color;
	color: $white;
	padding: 0.25em 0.25em;
	flex: 0 1 1em;

	div {
		display: inline-block;

		a {
			font-weight: bold;
			color: $dark_red;
		}

		&:first-child {
			float:left;
		}

		&:last-child {
			float:right;
		}
	}
}

@media only screen and (max-width: 480px) {

	footer {
		display: none;
	}
}