@import "variables";

footer {
	//background-color: $background_color;
	//color: $white;
	flex: 0 1 auto;
	z-index: 1;

	section {
		padding:0.125em 0.375em;
		@include clearfix();

		div {
			display: inline-block;

			a {
				font-weight: bold;
				//color: $dark_red;
			}

			&:first-child {
				float:left;
			}

			&:last-child {
				float:right;
			}
		}
	}
}

@media only screen and (max-width: 480px) {

	footer {
		display: none;
	}
}
