@import "variables";

section.items_table {
	flex: 0 1 auto;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	overflow-y: auto;
	background-color: $group_background;

	table {

		tbody {

			tr {

				td {
					word-break: break-word;
				}
			}
		}
	}
}

@media only screen and (max-width: 480px) {
   
   	section.items_table {
   		width: 100%;

   		table {
   			display: block;

   			tbody, thead {
   				display: block;

   				tr {
   					@include clearfix();
   					display: block;

   					th  {
   						font-weight: normal;
   					}

   					td, th {
		   				display: block;
		   				width: auto !important;
		   			}

		   			td.edit_item, td.delete_item {
		   				float: right;
		   				margin: 0.25em 0;
		   			}
   				}
   			}
   		}
	} 
}

