@import "variables";

section.items_table {
	flex: 0 1 auto;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	overflow-y: auto;
	background-color: $group_background;
	box-sizing: border-box;
	//text-overflow: ellipsis;

	table {

		tbody {

			tr {

				td {
					word-break: break-word;
				}
			}
		}

		tfoot {

			tr {

				th {

					div#items_table_total_count {
						font-size:0.75em;
						margin-bottom: 0.125em;
						margin-top: 0.25em;

						b {
							font-size:1.125em;
						}
					}
				}
			}
		}
	}
}

@media only screen and (max-width: 480px) {
   
   	section.items_table {
   		width: 100%;

   		table {
   			display: block;

   			tbody, thead {
   				display: block;

   				tr {
   					@include clearfix();
   					display: block;

   					th  {
   						font-weight: normal;
   					}

   					td, th {
   						box-sizing: border-box;
		   				display: inline-block;
		   				//width: auto !important;
		   			}

		   			td.edit_item, td.delete_item {
		   				float: right;
		   				margin: 0.25em 0;
		   			}
   				}
   			}
   		}
	} 
}

