@import "variables";

nav.top_menu {
	font-size: 1.25em;

	ul {
		@include rotate_upside_down();
		font-family:amsans;

		div {
			overflow-x: auto;
			padding: 0 0.25em;
			margin-bottom:0.25em;

			li {
				@include rotate_upside_down();
				vertical-align: bottom;

				a {
					text-align: center;
					padding-top: 0.25em;
					padding-bottom: 0.25em;
					border-top-right-radius: 0.25em;
					border-top-left-radius: 0.25em;
				}
			}
		}
	}

	ul.main {
		color: $white;
		@include scrollbar_top_menu_main();

		& > div {

			& > li {

				&:hover, &.hover {
					& > a, & > ul > div { background-color: $main_menu_inactive_link_hover; }
				}
				&.active {
					& > a, & > ul > div {
						background-color: $main_menu_active_link;
						color: $main_menu_active_link_text;
					}
					&:hover, &.hover {
						& > a, & > ul > div { background-color: $main_menu_active_link; }
					}
				}
				&.has_submenu {
					&.active {
						& > a, & > ul > div { background-color: $sub_menu_background; }
						&:hover, &.hover {
							& > a, & > ul > div { background-color: $main_menu_2_submenu_active_link_hover; }
						}
					}
				}
			}
		}
	}

	ul.sub {
		background-color: $sub_menu_background;
		color: $sub_menu_inactive_link_text;
		@include menu_transitions();
		@include scrollbar_top_menu_sub();
		max-height: 256px;
		overflow-y: hidden;

		&.hover {
			@include scrollbar_top_menu_sub_hover();
			background-color: $main_menu_2_submenu_active_link_hover;
		}

		& > div {

			& > li {

				&:hover {
					& > a {
						background-color: $sub_menu_inactive_link_hover;
						color: $sub_menu_inactive_link_text_hover;
					}
				}
				&.active {
					& > a {
						background-color: $main_menu_active_link;
						color: $main_menu_active_link_text;
					}
					&:hover {
						& > a {
							background-color: $main_menu_active_link;
							color: $main_menu_active_link_text;
						}
					}
				}
			}
		}

		&.noactive {
			background-color: $main_menu_inactive_link_hover;
			color: $white;
			@include scrollbar_top_menu_sub_hover_noactive();

			& > div {

				& > li {

					&:hover {
						& > a {
							background-color: $sub_menu_background;
							color: $main_menu_active_link_text;
						}
					}
				}
			}
		}

		&.novisible {
			display: block !important;
			max-height: 0;
		}
	}
}

