@import "variables";

@media only screen and (max-width: 480px) {

	nav.top_menu {
		padding-bottom:1.25em;

		label {
			bottom: 0;
		}
		
		ul {
			@include rotate_cancel();
			padding:0;

			div {
				width: 100%;

				li {
					@include rotate_cancel();
					display: block;

					&, &:first-child, &:last-child {
						padding: 0;
					}

					a { border-radius: 0.25em; }

					&.has_submenu:hover {
						a {
							border-bottom-left-radius: 0;
							border-bottom-right-radius: 0;
						}
					}

					/*&.has_submenu:hover > ul.sub {
						max-height: 1024px;

						& > div {
							height: 100%;
						}
					}*/
				}
			}
		}
	}

	input#show_topmenu:checked ~ nav.top_menu {
		z-index:1000;
		max-height: 100%;
	}
}