@import "variables";

nav {
	flex: 0 1 auto;
	max-height: 100%;
	background-color: inherit;
	color: inherit;

	label {
		display: none;
	}

	ul {
		margin: 0;
		padding: 0;
		//height: 100%;

		div {

			li {
				display: table-cell;

				a {
					@include menu_transitions();
					text-decoration: none;
					color: inherit;
					display: block;
					padding: 0 0.25em;
				}
			}
		}
	}

	@media only screen and (max-width: 480px) {
		position: fixed;
		width: 100%;
		max-width: 100%;
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		@include menu_open_smallscreen_transitions();
		overflow-y: hidden;
		max-height: 0;

		label {
			position: absolute;
			left:0;
			right:0;
			display: block;
			text-align: center;
			line-height: 1em;
			vertical-align: middle;
			padding: 0.125em 0;
			cursor: pointer;
		}

		ul {
			display: flex;
		}
	}
}
