@import "variables";

nav.top_menu {
	font-size: 1.25em;
	border-color: red;

	ul {
		@include rotate_upside_down();
		font-family:amsans;

		div {
			overflow-x: auto;
			padding: 0 0.25em;
			margin-bottom:0.25em;

			li {
				@include rotate_upside_down();
				vertical-align: bottom;

				a {
					text-align: center;
					padding-top: 0.25em;
					padding-bottom: 0.25em;
					border-top-right-radius: 0.25em;
					border-top-left-radius: 0.25em;
				}
			}
		}
	}

	ul.main {
		@include scrollbar_top_menu_main();
		background-color: $main_menu_background;
		color: $main_menu_text;

		& > div {

			& > li {
				background-color: $main_menu_inactive_link_background;
				color: $main_menu_inactive_link_text;

				&:hover, &.hover {
					& > a, & > ul > div {
						background-color: $main_menu_inactive_link_hover_background;
						color: $main_menu_inactive_link_hover_text;
					}
				}
				&.active {
					& > a, & > ul > div {
						background-color: $main_menu_active_link_background;
						color: $main_menu_active_link_text;
					}
					&:hover, &.hover {
						& > a, & > ul > div {
							background-color: $main_menu_active_link_hover_background;
							color: $main_menu_active_link_hover_text;
						}
					}
				}
				&.has_submenu {
					&.active {
						& > a, & > ul > div {
							background-color: $main_menu_active_link_with_submenu_background;
							color: $main_menu_active_link_with_submenu_text;
						}
						&:hover, &.hover {
							& > a, & > ul > div {
								background-color: $main_menu_active_link_with_submenu_hover_background;
								color: $main_menu_active_link_with_submenu_hover_text;
							}
						}
					}
				}
			}
		}
	}

	ul.sub {
		background-color: $sub_menu_background;
		color: $sub_menu_text;
		@include menu_transitions();
		@include scrollbar_top_menu_sub();
		max-height: 256px;
		overflow-y: hidden;
		border-color: red;

		&.hover {
			//@include scrollbar_top_menu_sub_hover();
			background-color: $main_menu_active_link_with_submenu_hover_background;
			color: $main_menu_active_link_with_submenu_hover_text;
		}

		& > div {

			& > li {

				&:hover {
					& > a {
						background-color: $sub_menu_inactive_link_hover_background;
						color: $sub_menu_inactive_link_hover_text;
					}
				}
				&.active {
					& > a {
						background-color: $sub_menu_active_link_background;
						color: $sub_menu_active_link_text;
					}
					&:hover {
						& > a {
							background-color: $sub_menu_active_link_hover_background;
							color: $sub_menu_active_link_hover_text;
						}
					}
				}
			}
		}

		&.noactive {
			background-color: $sub_menu_inactive_background;
			color: $sub_menu_inactive_text;
			@include scrollbar_top_menu_sub_hover_noactive();

			& > div {

				& > li {

					&:hover {
						/*& > a {
							background-color: $sub_menu_incative_inactive_link_hover_background;
							color: $sub_menu_incative_inactive_link_hover_text;
						}*/
					}
				}
			}
		}

		&.novisible {
			display: block !important;
			max-height: 0;
		}
	}
}

