@import "variables";

@media only screen and (max-width: 480px) {

	nav.top_menu {
		font-size: 1em;
		padding-bottom:1.25em;

		label {
			bottom: 0;
		}
		
		ul {
			@include rotate_cancel();
			padding-bottom: 0;

			div {
				width: 100%;

				li {
					@include rotate_cancel();
					display: block;

					&, &:first-child, &:last-child {
						padding: 0;
					}

					a { 
						border-radius: 0.25em;
						text-align: left;
						font-size: 1.25em;
					}

					&.has_submenu { 

						& > ul.sub { 
							max-height: 0;
						}
					}

					&.has_submenu:hover {

						& > ul.sub {
							max-height: 512px;
						}
					}
				}
			}

			&.main {
				padding-top:0.25em;
				padding-bottom: 0.125em;
			}

			&.sub {
				@include menu_open_smallscreen_transitions();
				overflow-y: hidden;
				background-color: transparent;
				color: $white;

				div { 
					border-radius:0.375em;
					overflow-y: hidden;
					padding: 0.25em;
					margin: 0.5em 0.25em;
				}
			}
		}
	}

	input#show_topmenu:checked ~ nav.top_menu {
		z-index:1000;
		max-height: 100%;
	}
}