@import "variables";

nav.pagination {
	color: $white;

	ul {
		text-align: center;
		font-size:1em;
		margin: 0 auto;
		display: table;
		width: 100%;

		label {
			display: none;
		}

		div.wrap {
			display: table-cell;
			vertical-align: top;
			
			li {

				a {
					height:1em;
					min-width:1em;
					padding:0.25em;
					margin-bottom: 0.25em;
					border-bottom-left-radius: 0.25em; 
					border-bottom-right-radius: 0.25em; 
					white-space: nowrap;

					&.inactive {
						pointer-events: none;
						color: $semi_grey;
					}
				}
			}

			&.left, &.right {

				li {
					display: inline-block;

					a {
						border-radius: 0.25em;
						margin: 0.25em 0.125em;
						padding:0.125em;
					}
				}
			}

			&.center {
				width:1%;
			}
		}
	}

	@media only screen and (max-width: 480px) {
		position: relative;
		overflow-y: hidden;
		flex: 0 0 auto;

		ul {
			@include menu_open_smallscreen_transitions();
			display: block;
			background-color: $strong_black;
			position: relative;
			overflow: hidden;
			max-height: 0;

			div.wrap {
				display: table;

				&.center {
					text-align: center;
					margin: 0 auto;
					width:auto;

					li {
						display: inline-block;

						a {
							margin: 0.125em 0;
							border-radius: 0.25em;
						}
					}
				}

				&.left {
					float:left;
					padding-left: 0.25em;
				}

				&.right {
					float:right;
					padding-right:0.25em;
				}
			}
		}
	}
}

@media only screen and (max-width: 480px) {

	input#show_paginator:checked ~ nav.pagination > ul {
		max-height:512px;
	}
}