
article.settings { 

	form {

		section {

			table {

				tbody {

					tr {

						td {

							input[type=checkbox] {
								float:right;
								margin: 0.25em 0;
								margin-right: 0.25em;
							}
						}
					}
				}
			}
		}
	}
}