<%= form_tag(public_send("do_export_#{controller_name}_path"), target: '_blank', method: :post) do |f| %>

    <%= hidden_field_tag 'head', head.to_json %>

    <div class="decorated_wrap shrinked">

        <table class="with_controls export">

            <caption>Export</caption>

            <thead></thead>

            <tbody>

                <%= render(
                    'layouts/shared/export/export_properties_line',
                    field: fields_to_select
                ) %>

            </tbody>

            <tfoot>
                <tr>
                    <td colspan="10">
                        <input type="submit" class="button" value="Excel tabuľka" name="submit_excel">
                        <input type="submit" class="button" value="HTML" name="submit_html">
                        <%= link_to "Storno", { action: :index, controller: controller_name }, class: 'button' %>
                    </td>
                </tr>
            </tfoot>

        </table>

    </div>
<% end %>
