
<article class="decorated_wrap shrinked">

	<div>
		<% fields.each do |field_name, opts| %>
			<%= render('layouts/elements/input_text',
				field_name: field_name,
				obj: obj,
				opts: opts
			) %>
		<% end %>
	</div>

	<%= render('layouts/elements/input_fields_error',
		fields: fields,
		obj: obj
	) %>

</article>