<article class="decorated_wrap shrinked">

	<div>

		<% if !defined?(obj)||obj.nil? %>

			<%= submit_tag "submit", class: "button" %>

		<% else %>

			<%= obj.submit class: "button" %>

			<%= link_to(
				t('actions.back'),
				{ 
					controller: controller_name,
					action: :index
				},
				class: "button"
			) %>

		<% end %>

	</div>

</article>