
<section class="decorated_wrap shrinked">

	<table class="for_forms">

		<caption>
			<%= t 'user.unlocked_sections' %>
		</caption>

		<tbody>

			<tr>
				<td class="buttons">
					
					<%= link_to t("top_menu.searchers_long"), searcher_path, class: 'button' %>

				</td>
			</tr>

		</tbody>

	</table>

</section>
