<% items.each do |item| %>

	<tr <%= return_selected_class_if_in_new_obj_attrs item, :manufacturer_filter %>>

		<td> 
			<%= item.name %>
		</td>
		
	</tr>

<% end %>

<%= render 'layouts/no_results', items: items, err_message: :new_manufacturer_search_no_results %>