<tr class="checkboxes">
    <td class="checkbox"> 
        <%= check_box_tag(
            "fields#{name}"
        ) %> 
    </td>
    <td class="label">
        <%= label_tag(
            "fields#{name}",
            t("activerecord.attributes.#{mdl}.#{field.to_s}")
        ) %>
    </td>
</tr>