
<% field.each do |f, v| %>

    <% if v.blank?&&f.is_a?(Symbol) %>

        <% 
        if !defined?(mdl)
            if obj.nil?
                mdl = "#{controller_name.to_s.singularize}"
            else
                mdl = "#{obj.model.name.downcase}"
            end
        end
        %>

        <%= render(
            'layouts/shared/export/export_properties_field',
            mdl: mdl,
            field: f,
            obj: obj
        ) %>

    <% else %>
    
        <tr>
            <td colspan="3" class="subtable">
                <table>
                    <thead>
                        <tr><th><%= t("activerecord.models.#{f.to_s.singularize}") %></th></tr>
                    </thead>

                    <tbody>
                        <%= render(
                            'layouts/shared/export/export_properties_line',
                            field: v,
                            mdl: f.to_s,
                            obj: obj
                        ) %>
                    </tbody>
                </table>
            </td>
        </tr>

    <% end %>

<% end %>

