<% 
    meno = ""
    if obj.nil?
        meno = mdl == controller_name.to_s.singularize ? "[#{field.to_s}]" : "[#{mdl}][#{field.to_s}]"
    else
        meno = mdl == obj.model.name.downcase ? "[#{field.to_s}]" : "[#{mdl}][#{field.to_s}]"
    end
%>

<tr class="checkboxes">
    <td class="checkbox"> 
        <%= check_box_tag(
            "fields#{meno}"
        ) %> 
    </td>
    <td class="label">
        <%= label_tag(
            "fields#{meno}",
            t("activerecord.attributes.#{mdl.singularize}.#{field.to_s}")
        ) %>
    </td>
</tr>