
<div class="decorated_wrap shrinked">
    <table class="for_dialogbox">
        <caption>
            <%= t 'notice' %>
        </caption>
        <thead></thead>
        <tbody>
            <% flash.each do |key, value| %>
                <tr class="flash <%= "#{key}" %>">
                    <td> <%= value %> </td>
                </tr>
            <% end %>
            <tr>
                <td class="buttons">
                    <button type="button" class="button cancel_flash">
                        OK
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>


