<footer>

	<% if @MEM.settings.show_footer == "1" %>
		<section class="ads">
			<div>
				<%= t('footer.text') %>
				<%= link_to t('footer.link_text'), t('footer.link') %>
			</div>

			<div>
				<%= "#{t('footer.created_by')} #{t('footer.creator')}" %>
			</div>
		</section>
	<% end %>
	
</footer>