<% items.each do |item| %>

	<tr>

		<td> 
			<%= item.kncode %>
		</td>
		
		<td> 
			<%= item.description %>
		</td>

	</tr>

<% end %>

<%= render 'layouts/no_results', items: items, err_message: :new_local_taric_search_no_results %>