<%= render 'layouts/base/main_menu' %>

<section class="form">

	<%= form_for @record do |t| %>

		<%= new_edit(
			obj: t,
			fields: {
				shortland: {
					autofocus: true
				}
			}
		) %>

		<%= new_edit(
			obj: t
		) %>

	<% end %>

</section>