<section class="decorated_wrap shrinked items_table">

	<div class="caption">
		<%= t('activerecord.attributes.good.image') %>
	</div>

	<div class="images gallery_set">
        <% images.each do |image| %>
    		<picture>
    			<%= image_tag(image.image.preview.url.sub(/\.(jpg|jpeg|gif|png)$/i, ".jpg")) %>
    		</picture>
        <% end %>
	</div>

</section>
