<section class="decorated_wrap shrinked items_table">

	

		
		<div class="caption">
		<%= t('activerecord.attributes.good.image') %>
	</div>

	<div class="images"><!--
		

<% images.each do |image| %>

				
					
					--><picture>
						<%= image_tag(image.image) %>
					</picture><!--

				
			<% end %>
			

	--></div>

			
	

</section>
