
<%= render 'layouts/base/main_menu' %>

<section class="form">

	<%= form_for @record do |t| %>

		<%= new_edit(
			obj: t,
			fields: {
				kncode: { 
					prefill_from_mem_param: [:kncode_start],
					autofocus: true
				},
				description: { 
					prefill_from_mem_param: [:description_cont],
					type: :text_area
				}
			}
		) %>

		<%= new_edit(
			obj: t,
			type: :submit
		) %>

	<% end %>

</section>