
<%= render 'layouts/base/main_menu' %>

<section class="form">

	<%= form_for @record, @form_url do |t| %>

		<%= new_edit(
			obj: t,
			fields: {
				kncode: {
					prefill_from_mem_param: [:kncode_start],
					autofocus: true,
					js_check_existence: true,
					required: true
				},
				description: {
					prefill_from_mem_param: [:description_cont],
					type: :text_area,
					required: true
				}
			}
		) %>

		<%= new_edit(
			obj: t,
			type: :submit
		) %>

	<% end %>

</section>
