
<%= render 'layouts/main_menu' %>

<section class="global_taric_settings">
	<%= render 'settings/index/global_taric' %>
</section>

<section class="uoms_settings">
	<%= render 'settings/index/uoms' %>
</section>