<section class="items_table">

	<table id="kncodes">

		<thead>
				
		<tr>
			<th> <%= cbt :table_cap_knnumber %> </th>
			<th> <%= cbt :table_cap_description %> </th>
			<th> <%= cbt :table_cap_additional_info %> </th>
		</tr>

		</thead>

		<tbody>

			<%= render 'local_taric/tariclist/item', items: @result %>

		</tbody>

	</table>

</section>