<div>

	<div>
		<%= obj.label :impexpcompany_company_name, class: "required" %>
		<%= obj.text_field :impexpcompany_company_name, autocomplete: "off" %>
	</div>
	
</div>

<div class="tablewrap">
	
	<table id="good_impexpcompany_company_name_results" class="rows_colored with_efects">

		<thead>
			<tr>
				<th>  </th>
			</tr>
		</thead>
		
		<tbody>
			
			<%= render 'impexpcompanies/api/client_search', items: @impexpcompanies %>

		</tbody>

	</table>

</div>

<div class="form_errors">
	<%= obj.errors :impexpcompany_company_name %>
</div>