<div>

	<div>
		<%= obj.label :manufacturer_name, class: "required" %>
		<%= obj.text_field :manufacturer_name, autocomplete: "off" %>
	</div>

</div>

<div class="tablewrap">
	
	<table id="good_manufacturer_name_results" class="rows_colored with_efects">

		<thead>
			<tr>
				<th>  </th>
			</tr>
		</thead>
		
		<tbody>
			
			<%= render 'manufacturers/api/manufacturer_search', items: @manufacturers %>

		</tbody>

	</table>

</div>

<div class="form_errors">
	<%= obj.errors :manufacturer_name %>
</div>