
<div class="tablewrap decorated_wrap shrinked">
	
	<table class="uoms_types_settings rows_colored">

		<thead>
			<tr>
				<th colspan="10"> <%= cbt :uoms_cp_cap %> </th>
			</tr>
		</thead>

		<tbody>

			<% UomType.all.each do |ut| %>

				<tr>
					<td>
						<%= ut.uom_type %>
					</td>
					<td>
						<%= ut.full_name %>
					</td>
					<td>
						
					</td>
				</tr>

			<% end %>

		</tbody>

		<tfoot>
			<tr>
				<td colspan="10">
					<%= link_to(
						cbt(:uoms_add_new),
						new_uom_type_path,
						class: "button"
					) %>
				</td>
			</tr>
		</tfoot>
	</table>

</div>