<section class="decorated_wrap shrinked items_table">

	<table class="rows_colored no_line_height">

		<caption>
			<%= caption %>
		</caption>

		<tbody>
			<tr>
				<td>
					<%= content %>
				</td>
			</tr>
		</tbody>

		<tfoot>
			<tr>
				<th colspan="99">
					<div id="items_table_total_count"> 
						<%= foot_content %>
					</div>
				</th>
			</tr>
		</tfoot>

	</table>

</section>