
<section class="item_details">
	
	<div class="tablewrap decorated_wrap">
		<%= render('layouts/table', 
			object: @manufacturer,
			captions: [cbt(:table_cap_manufacturers)],
			fields: ["<h1>#{@manufacturer.name}</h1>"],
			foots: [" --- "]
		) %>
	</div>

	<div class="tablewrap decorated_wrap">
		<%= render('layouts/table', 
			object: @manufacturer.impexpcompany_manufacturers,
			captions: [
				cbt(:manufacturers_table_intrastat_clients_cap),
				{ cbt(:manufacturers_table_taric_codes_cap) => 2 },
				cbt(:incoterms)
			],
			fields: [
				:impexpcompany_company_name,
				:local_taric_kncode,
				:local_taric_description,
				:incoterm_human
			],
			foots: [
				"#{cbt(:manufacturer_impexpcompanies_count)}: <b>#{@manufacturer.impexpcompanies.size}</b>"
			],
			html_class: "rows_colored"
		) %>
	</div>

	<br>

	<div class="tablewrap decorated_wrap">
		<%= render('layouts/table', 
			object: @manufacturer_local_tarics,
			captions: [
				{ cbt(:manufacturer_goods_kncode) => 2 }
			],
			fields: [
				:kncode,
				:description
			],
			foots: [
				"
					#{cbt(:manufacturer_goods_kncode_count)}: <b>#{@manufacturer_local_tarics.size}</b>
					
				"
			],
			decorators: [
				{ kncode: :num_to_kncode }
			],
			html_class: "rows_colored"
		) %>
	</div>

	<br>

	<div class="tablewrap decorated_wrap">
		<%= render('layouts/table', 
			object: @manufacturer_goods,
			captions: [
				cbt(:manufacturer_goods),
				"",
				cbt(:manufacturers_table_intrastat_clients_cap),
				{ cbt(:manufacturer_goods_kncode) => 2 }
			],
			fields: [
				:ident,
				:description,
				{ impexpcompanies: :company_name },
				{ local_taric: :kncode },
				{ local_taric: :description }
			],
			foots: [
				"---"
			],
			decorators: [
				{ local_taric_kncode: :num_to_kncode }
			],
			html_class: "rows_colored"
		) %>
	</div>

</section>