
<% items.each do |item| %>

	<tr>

		<td> 
			<%= highlight_search item, :name %>
		</td>

		<td> 
			<%= item.plant %>
		</td>

		<td>
			<% item.impexpcompanies.each do |i| %>
				<%= i.company_name %> <br>
			<% end %>
		</td>
		
	</tr>

<% end %>

<%= render('layouts/no_results', items: items) if items.length == 0 %>