
<section class="items_table">

	<table id="manufacturers">

		<thead>
				
		<tr>
			<th> <%= cbt :table_cap_manufacturer %> </th>
			<th> <%= cbt :table_cap_site %> </th>
		</tr>

		</thead>

		<tbody>

			<%= render 'manufacturers/manufacturerslist/item', items: @result %>

		</tbody>

	</table>

</section>