article.impexpcompanies { 

	section {

		table#impexpcompanies {

			td, th {

				&.impexpcompanies-company_name {
					white-space: nowrap;
					width:100%;
				}
			}
		}

		@media only screen and (max-width: 480px) {

		  	table#impexpcompanies {

				td, th {

					&.impexpcompanies-company_name {
						width:100%;
					}
				}

				th.impexpcompanies-company_name {
					font-weight: bold;
				}
			}
		}
	}
}