<article class="decorated_wrap shrinked">

	<div>

		<% if !defined?(obj)||obj.nil? %>

			<%= submit_tag t("actions.save"), class: "button" %>

		<% else %>

			<%= obj.submit class: "button" %>

			<%= link_to(
				t('actions.back'),
				{
					controller: controller_name,
					action: :index
				},
				class: "button"
			) %>

			<% if add_next == true %>

				<% if action_name == "new"||action_name == "create" %>

					<%= obj.button(
						t('actions.add_and_add_next'),
						name: "add_next",
						value: "1",
						class: "button"
					) %>

				<% end %>

			<% end %>

		<% end %>

		<% if !block.nil? %>

			<% block.call().html_safe %>

		<% end %>

	</div>

</article>
