<table>
	
	<thead>

		<tr>
			<th> <%= cbt :table_cap_clients %> </th>
		</tr>

	</thead>

	<tbody>

		<% clients.each do |client| %>
			<tr>
				<td>
					<%= client.company_name %>
				</td>
			</tr>
		<% end %>

	</tbody>

	<tfoot>
		
		<tr>
			<td> <%= cbt :table_cap_clients_count %> <%= clients.size %></td>
		</tr>

	</tfoot>

</table>