
<% content_for :search_bar do %>

	<section class="search_bar"> 

		<%= search_form_for @search, remote: true do |s| %> 

			<%= s.search_field :ident_cont %>


			<div class="select_wrapper">

				<%= s.collection_select :client_filter,
					Impexpcompany.all,
					:id,
					:company_name,
					include_blank: cbt(:search_client_filter_none)
				%>

				<span></span>

			</div>

			<%= s.submit t(:search), class: "button" %>

		<% end %>

	</section>

<% end %>