<div>

	<%= obj.label :impexpcompany_filter %>

	<div class="select_wrapper">

		<%= obj.collection_select :impexpcompany_filter,
			Impexpcompany.all.order(:company_name),
			:id,
			:company_name,
			include_blank: cbt(:search_client_filter_none)
		%>

		<span></span>

	</div>

</div>