
<%= select_tag('q[manufacturer_filter]',
	options_from_collection_for_select(
	 	@manufacturers,
	 	"id",
	 	"name",
	 	@search.manufacturer_filter),
	include_blank: cbt(:search_manufacturers_filter_none)
) %>

<span></span>

