
<%= render 'layouts/base/main_menu' %>

<section class="search_bar">
	<form class="decorated_wrap">

		<%= render "/layouts/shared/actions/add_new_button" %>
		<%= render "/layouts/shared/actions/go_to_administrative" %>

	</form>
</section>

<article class="index impexpcompanies">

	<%= render('layouts/shared/items_table',

		fields: {
			company_name: {
				
			}
		},

		options: [
			head: true,
			foot: true
		]

	) %>

</article>
