
<% 
	manufacturer_selected = params.deep_has_key?(:q, :manufacturer_filter) ? params[:q][:manufacturer_filter] : nil
%>

<%= select(
	:q,
	:manufacturer_filter,
	@manufacturers.collect { |m| [m.name, m.id] },
	include_blank: t('goods_search.manufacturer_prompt'),
	selected: manufacturer_selected
) %>

<span></span>

