<%
select_text = ""
selected_mans = get_selected_manufacturers.try(:size)
case selected_mans
when nil
    select_text = t('goods_search.manufacturer_prompt')
when 0
	select_text = t('goods_search.manufacturer_prompt')
when 1
	#select_text = @manufacturers.find(get_selected_manufacturers.first).name
    select_text = "jeden"
when 2..4
	select_text = "<b>#{selected_mans}</b> #{t('goods_search.manufacturer_prompt_few')}"
else
	select_text = "<b>#{selected_mans}</b> #{t('goods_search.manufacturer_prompt_many')}"
end
%>

<div class="multiselect" tabindex="0">
	<span> <%= select_text.html_safe %> </span>
	<div>
		<%= render_manufacturers_select(obj: @manufacturers) %>
	</div>
</div>

<%
Rails.logger.info "---------------------------------------"
Rails.logger.info Impexpcompany.find(params[:q][:impexpcompany_filter]).company_name
Rails.logger.info "---------------------------------------"

 %>
