<div>

	<span>
		<%= obj.label :impexpcompany_filter %>
	</span>

	<span>
		<div class="select_wrapper">

			<%= obj.collection_select :impexpcompany_filter,
				@impexpcompanies,
				:id,
				:company_name,
				include_blank: t('goods_search.impexpcompany_prompt')
			%>

			<span></span>

		</div>
	</span>

</div>