<%
select_text = ""
case @manufacturers.size
when 0
	select_text = t('goods_search.manufacturer_prompt')
when 1
	select_text = @manufacturers.first.name
when 2..3
	select_text = "<b>#{@manufacturers.size}</b> #{t('goods_search.manufacturer_prompt_few')}"
else
	select_text = "<b>#{@manufacturers.size}</b> #{t('goods_search.manufacturer_prompt_many')}"
end
%>

<div class="multiselect" tabindex="0">
	<span> <%= select_text.html_safe %> </span>
	<div>
		<%= render_manufacturers_select(obj: @manufacturers) %>
	</div>	
</div>
