
<%= select(
	:q,
	:manufacturer_filter,
	@manufacturers.collect { |m| [m.name, m.id] },
	include_blank: t('goods_search.manufacturer_prompt'),
	selected: params[:q][:manufacturer_filter]
) %>

<span></span>

