<%
	has_search_datetime = params.deep_has_key? :q, :search_datetime
%>

<div class="select_time_wrap">

	<span>
		<% html_class = !has_search_datetime ? 'disabled' : '' %>
		<%= obj.label :time_filter, class: html_class %>
	</span>

	<span class="datetime_select">

		<%= obj.datetime_select(
			timesort_method,
			disabled: !has_search_datetime,
			default: DateTime.current
		) %>

		&nbsp;

		<%= select_tag(
			"timesort_method",
			options_for_select(
				[
					["Pridanie/úprava", :created_at_or_updated_at_gteq],
					["Pridanie", :created_at_gteq],
					["Úprava", :updated_at_gteq]
				],
				{
					selected: timesort_method
				}
			),
			{
				disabled: !has_search_datetime
			}
		) %>

	</span>

	<span>
		<%= check_box_tag(
			'q[search_datetime]',
			1,
			has_search_datetime,
			class: "big"
		) %>
	</span>

</div>