<% has_search_both = params.deep_has_key? :q, :search_date %>

<div class="search_checkbox_wrap">

    <span>
        <%= obj.label(
            :date_filter,
            class: has_search_both ? "" : "disabled"
        ) %>
    </span>

    <span class="date_select">
        <%= obj.date_select(
           :created_at,
           disabled: !has_search_both
        ) %>
    </span>

    <span>
        <%= check_box_tag(
            'q[search_date]',
            1,
            has_search_both,
            class: "big"
        ) %>
    </span>

</div>
