@import "variables";

article.manufacturers, article.searchers {

	section {

		table#manufacturers {

			td {

				&.manufacturers-name {
					white-space: nowrap;
					width:1%;
				}
			}

			th, td {

				&.inner_table {

					table {
						table-layout: fixed;

						th, td {
							width: 25%;
						}
					}
				}
			}
		}

		@media only screen and (max-width: 480px) {

		  	table#manufacturers {

				td, th {
					width: 100%;

					&.manufacturers-name {
						font-weight: bold;
						width:100%;
					}

					&.inner_table {

						table {

							tr {

								@include inner_table_separator();

								th, td {

									&.manufacturers-name {
										font-weight: bold;
										width:100%;
									}

									&.impexpcompanies-company_name {
										font-style: italic;
										width:50%;
									}

									&.local_tarics-kncode {
										width:50%;
										text-align: right;
									}

									&.incoterms-shortland,
									&.trade_types-type,
									&.impexpcompany_manufacturers-invoices_correct {
										width: 33.3%;
									}

									&.impexpcompany_manufacturers-invoices_correct {
										text-align: right;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}
