article.manufacturers { 

	section {

		table#manufacturers {

			td {

				&.manufacturers-name {
					white-space: nowrap;
					width:1%;
				}
			}

			th, td {

				&.inner_table {
					width: 100%;

					table {
						table-layout: fixed;
						width: 100%;

						th, td {
							width: 25%;

							table {

								th {
									padding: 0;
								}
							}
						}
					}
				}
			}
		}

		@media only screen and (max-width: 480px) {
		   /*
		   table#goods {

		   		td, th {

		   			&.inner_table {
		   				width: 100%;
		   			}

		   			&.goods-ident, &.local_tarics-kncode, &.goods-description {
		   				width: 100%;
		   			}

		   			&.goods-ident {
						font-weight: bold;
					}

					&.local_tarics-kncode {
						text-align: right;
						font-style: italic;
					}
		   		}
		   	}
		   	*/
		}
	}
}