article.manufacturers { 

	section {

		table#manufacturers {

			td {

				&.manufacturers-name {
					white-space: nowrap;
					width:1%;
				}
			}

			th, td {

				&.inner_table {
					width: 100%;

					table {
						table-layout: fixed;
						width: 100%;

						th, td {
							width: 25%;

							table.inner_table {

								th {
									padding: 0;
								}
							}
						}
					}
				}
			}
		}

		@media only screen and (max-width: 480px) {

		  	table#manufacturers {

				td, th {
					width: 100%;

					&.manufacturers-name {
						font-weight: bold;
					}

					table.inner_table {

						td, th {
							width: 50%;

							table.inner_table {

								td, th {
									width: 100%;
								}
							}
						}
					}
				}
				/*
				th, td {

					&.inner_table {

						th, td {
							width: 50%;
						}

						table.inner_table {

							th, td {
								width: 100%;
							}
						}
					}
				}
				*/
			}
		}
	}
}