article.manufacturers.show {

	section {

		table#manufacturers-local_taric {
			//table-layout: fixed;

			td, th {

				&.local_tarics-kncode {
					width:1%;
					white-space: nowrap;
				}
			}
		}

		@media only screen and (max-width: 480px) {

			td, th {
				width:100%;
			}

			table#manufacturers-local_taric {

				th, td {

					&.local_tarics-kncode {
						width:auto;
						font-weight: bold;
					}
				}
			}

			table#manufacturers-impexpcompany_manufacturer {

				td, th {

					&.impexpcompanies-company_name {
						font-weight: bold;
						width:100%;
					}

					&.trade_types-type {
						text-align: right;
					}
				}
			}

			table#manufacturers-good {

				td, th {

					&.goods-ident {
						font-weight: bold;
					}

					&.local_tarics-kncode {
						font-style: italic;
						text-align: right;
					}
				}
			}
		}
	}
}
