

<td>
	<label for="options[per_page]">
		<%= t('settings.general.per_page') %>
	</label>
</td>

<td>
	<div class="select_wrapper">

		<select
			name="options[per_page]"

		>
			
			<%= get_options_from_options(
				{
					10 => "10",
					20 => "20",
					25 => "25",
					50 => "50",
					100 => "100"
				}
			) %>

		</select>

		<span></span>

	</div>
</td>


