
<td>
	<label for="settings[show_footer]">
		<%= t('settings.general.show_footer') %>
	</label>
</td>

<td> 
	<input 
		type="checkbox" 
		name="settings[show_footer]" 
		value="1" 
		class="big settings"
		<%= "checked" if @MEM.settings.show_footer == true %>
	>
</td>