article.local_tarics.show {

	section {

		@media only screen and (max-width: 480px) {

			table#local_tarics-good {
				
				th, td {
					width:100%;
					line-height: 1.25em;

					&.goods-ident {
						font-weight: bold;
					}

					&.goods-description {
						font-style: italic;
						font-size: 0.875em;
					}

					&.impexpcompanies-company_name {
						font-size: 0.875em;
						font-style: italic;
						font-weight: bold;
						text-align: right;
					}
				}

				td.inner_table {

					tr {
						display: inline-block;

						td {

							&::after {
								content: ';';
							}
						}
					}

					&.good-impexpcompanies {
						text-align: right;
					}
				}
			}
		}
	}
}