@import "variables";

.button {
	@include reset_input_browser_styles();
	@include transition(
		border-color $main_menu_mouse_actions_transition_time ease,
		background-color $buttons_mouse_actions_transition_time ease
	);
	//@include box_shadows();
	// http://tobiasahlin.com/blog/how-to-animate-box-shadow/

	cursor: pointer;
	color: $white;
	background-color: $button_grey;
	border-color: transparent;

	&:hover {
		background-color: $button_grey_hover;
		text-decoration: none;
	}

	&:focus {
		background-color: $button_grey_hover;
		border-color: $button_danger;
	}

	&:active {
		background-color: $button_selected;
		border-color:  $button_selected;
	}

	&.danger {
		background-color: $button_danger;

		&:hover {
			background-color: $button_danger_hover;
		}

		&:focus {
			background-color: $button_danger_hover;
		}

		&:active {
			background-color: $button_selected;
			border-color:  $button_selected;
		}
	}

	&.selected {
		background-color: $button_selected;

		&:hover {
			background-color: $button_selected_hover;
		}

		&:focus {
			background-color: $button_selected_hover;
		}

		&:active {
			background-color:  $button_selected_hover;
			border-color:  $button_selected_hover;
		}
	}

	&.disabled {
		background-color: $group_background;
		color: $button_grey;
	}
}

button, a.button {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0.125em;
	font-size: 1em;
	line-height:1em;
	padding: 0.125em 0.25em;
	border-radius: 0.25em;
	border-style: solid;
	border-width: 0.125em;
	color: $white;
	display: inline-block;

	&:after {
		display: none;
	}
}