@import "variables";

input, select {
	@include reset_input_browser_styles();
	@include all_transitions();
	
	display: inline-block;
	margin: 0.125em 0.125em;
	font-size: 1em;
	border:0.125em solid $white;
	padding:0.125em 0.25em;
	border-radius:0.25em;
	background-color: $white;
	line-height:1em;
}

input:hover, select:hover {
	background-color: $superwhite;
	border-color: $superwhite;
}

input:focus, select:focus {
	border-color: $input_selected
}

input:disabled {
	background-color: $disabled_input;
	border-color: $disabled_input;
}

input.required {

}

input[type=submit] {
	padding: 0.125em 0.25em;
	border-width: 0.125em;
	border-color: transparent;

	&:active {
		border-color: $button_selected;
	}
}

input[type=checkbox] {
	display: block;
	border:0.25em solid $button_disabled;
	background-color: $soft_black !important;
	border-radius:0.5em;
	margin:0;
	padding:0;
	width:0.875em;
	height:0.875em;
	cursor:pointer;

	&:hover {
		border-color: $button_disabled_hover !important;
	}

	&:checked {
		background-color: $button_danger_hover !important;
		border-color: $button_selected !important;

		&:hover {
			border-color: $button_selected_hover !important;
		}
	}
}

label {
	vertical-align:middle;

	&.disabled {
		color: $disabled_input_text;
	}

	&.required {
		font-weight: bold;
	}
}

div.select_wrapper {
	@include button_transitions();

	position: relative;
	background-color: $white;
	border-radius:0.25em;
	display: inline-block;
	margin: 0.125em; 
	vertical-align:middle;
	width:auto !important;

	select {
		max-height:1.5em;
		margin:0em;
		padding-right: 1.25em;
		background: transparent;
		position: relative;
		z-index: 3;
		min-height: 22px;
		cursor: pointer;
	}

	span {
		//@include button_transitions();
		position: absolute;
		top:0;
		bottom:0;
		right:0;
		width:1.25em;
		background-image: url(select_dropdown_arrow.png);
		background-repeat: no-repeat;
		background-position: right;
		background-size: contain;
		@include transition_for_transform(1s);
	}

	select:hover + span, span:hover {
		background-image: url(select_dropdown_arrow_hover.png);
	}

	select:active + span {
		@include transform(rotate(-180deg));
	}

	&:hover {
		background-color: $superwhite;
	}
}