@import "variables";

section.items_table {
	flex: 0 1 auto;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	overflow-y: auto;
	background-color: $group_background;
}

table.items {
	width:100%;

	td, th {

		&.edit_item, &.delete_item {
			width:1%;
		}
	}
	
	tfoot {

		tr {
			width: 100%;
			max-width: 100%;

			th {

				div {
					display: inline-block;
					vertical-align: middle;
					margin-left: 1em;
				}
			}
		}
	}

	thead {

		tr {
			line-height:1.5em;
		}
	}
}

@media only screen and (max-width: 480px) {

	table.items {

		td, th {
			display: block;
			width: auto !important;

			a {
				width: auto !important;
			}
		}

		td.checkbox {
			float: left;

			input {
				display:inline-block;
				vertical-align:middle;
			}
		}

		td.delete_item, td.edit_item {
			float:right;
			margin-bottom: 0.25em;
		}
	}

}
