@import "variables";

section.items_table {
	flex: 0 1 auto;
	display: flex;
	flex-direction: column;
	align-items: stretch;
}

table.items {
	flex: 0 1 auto;
	display: flex;
	flex-direction: column;
	align-items: stretch;

	tbody {
		overflow-y:auto;
		background-color: $group_background;
	}

	tfoot, thead {
		flex: 0 1 auto;

		tr {
			display: flex;
			flex-direction: row;
			//align-items: stretch;
			width:100%;

			th {
				//flex-grow: 1;
			}
		}
	}

	tfoot {

		tr {

			th {
				width:100%;
			}
		}
	}

	thead {

		tr {
			padding:0.125em;
		}
	}
}