@import "variables";

@font-face 	{ 	
	font-family: "amsans"; 
	src: font-url('amsans.eot');
	src: font-url('amsans.eot?#iefix') format('embedded-opentype'), font-url('amsans.otf');
}

html {
	height: 100%;

	body {

		&.noscroll {
			height:100%;
		}

		margin:0;
		background-color: $background-color;
  		min-height:100%;
		position:relative;

		display: flex;
		align-items: stretch;
  		flex-direction: column;

		.clear {
			clear:both;
		}

		.center {
			text-align: center;
		}

		.right {
			text-align: right;
		}

		.float-right {
			float: right;
		}

		.float-left {
			float: left;
		}

		.decorated_wrap {
			border-color:$wrap_border_color;
			border-style: solid;
			border-bottom-width:$border_2x_width;
			border-right-width:$border_2x_width;
			border-left-width:1px;
			border-top-width:1px;
			border-left-color: $wrap_border_color_2;
			border-top-color: $wrap_border_color_2;
			border-radius: $wrap_border_radius;
			//box-shadow: 2px 2px 4px -2px black;

			&.shrinked {
				display:table;
			}
		}

		.wrapper {
			display: table;
			padding:0.25em;
			background-color: $group_background;
			border-radius: 0.25em;
		}
	}
}