@import "variables";

table {
	background-color: $group_background;
	border-radius: 0.25em;
	border-collapse: collapse;

	td, th {
		padding: 0 0.25em;
	}

	td:first-child {
		padding-left:0.375em;
	}

	td:last-child {
		padding-right:0.375em;
	}

	td.checkbox {
		padding-right: 0.125em;
	}

	thead {

		tr {
			line-height:1.25em;

			th {
				text-align: left;
			}
		}
	}

	tbody {
		background-color: $odd_table_line_color;

		tr {
			@include button_transitions();
			line-height:1.25em;

			&.no_results {
				pointer-events: none !important;
				background-color: $group_background;

				td {
					display: inline-block;
					padding:0.125em 0.25em;
					background-color: $button_danger;
					color: white;
				}
			}

			td {
				vertical-align: middle;


				a.edit_item, a.delete_item {
					line-height:1em;
					font-size:0.75em;
					display: block;
					margin: 0;
				}
			}
		}
	}

	tfoot {
		text-align:right;

		th {
			font-weight: normal;
			padding-right: 1em;
		}
	}
}

table.rows_colored {

	tbody {

		tr {

			&:nth-child(2n) {
				background-color: $even_table_line_color;
			}
		}
	}
}

table.with_efects {

	tbody {

		tr {

			&:hover {
				background-color: $table_row_hover;
			}

			&:active, &.selected {
				background-color: $black;
				color: $white;

				&:hover {
					background-color: $button_selected_hover;
				}
			}
		}
	}
}