$superwhite:      #fff;
$white:           #eee;

$dark_grey:       #999;
$strong_grey:     #aaa;
$base_grey:       #bbb;
$base_grey_grad:  #b0b0b0;
$grey_2n-1:       #ddd;
$grey_2n-1_grad:  #d0d0d0;
$grey_2n:         #ccc;
$grey_2n_grad:    #c0c0c0;

$strong_black:    #000;
$black:           #222;
$soft_black:      #444;
$semi_grey:       #666;
$halftone:		  #888;

$soft_red:        #FF7F7F;
$strong_red:      #e00;
$dark_red:        #8E0000;


$background_color:                        $strong_black;
$group_background:                        $base_grey;
$table_background:                        $grey_2n;
$wrap_border_color:                       $halftone;
$wrap_border_color_2:                     $strong_grey;

$main_menu_active_link:                   $white;
$main_menu_active_link_text:              $strong_black;
$main_menu_inactive_link_hover:           $soft_black;
$main_menu_2_submenu_active_link_hover:   $strong_grey;

$sub_menu_background:			          $base_grey;
$sub_menu_active_link:                    $superwhite;
$sub_menu_inactive_link_text:             $black;
$sub_menu_inactive_link_hover:            $semi_grey;
$sub_menu_inactive_link_text_hover:       $white;

$disabled_input:                  $strong_grey;
$disabled_input_text:             $semi_grey;
$input_selected:                  $dark_red;
$input_selected_inverted:         $black;
$input_validation_error:          $soft_red;

$button:                          $white;
$button_hover:                    $superwhite;
$button_text:                     $soft_black;
$button_text_hover:               $strong_black;
//$button_border:                   rgba(85,85,85,1);

$button_selected:                 $black;
$button_selected_hover:           $strong_black;
$button_selected_text:            $white;
$button_selected_text_hover:      $superwhite;

$button_danger:                   $dark_red;
$button_danger_hover:             $strong_red;
$button_danger_text:              $white;
$button_danger_text_hover:        $superwhite;

$button_disabled:                 $dark_grey;
$button_disabled_hover:           $grey_2n;
$button_disabled_text:            $grey_2n-1;
//$button_disabled_text_hover:      $base_grey;

$even_table_line_color:           $grey_2n;
$odd_table_line_color:            $grey_2n-1;
$table_row_hover:                 $strong_grey;


$main_border_radius:      0.25em;
$wrap_border_radius:      0.5em;
$border-width:            0.125em;
$border-2x-width: $border-width * 2;


$buttons_mouse_actions_transition_time: 0.15s;
$main_menu_mouse_actions_transition_time: 0.30s;


@mixin links_transitions() {
	@include transition(background-color $buttons_mouse_actions_transition_time ease, color $buttons_mouse_actions_transition_time ease);
}

@mixin menu_transitions() {
	@include transition(background-color $main_menu_mouse_actions_transition_time ease, color $main_menu_mouse_actions_transition_time ease);
}

@mixin menu_open_smallscreen_transitions() {
  @include transition(max-height 0.375s linear);
}

@mixin all_transitions() {
  @include transition(background-color $buttons_mouse_actions_transition_time ease, color $buttons_mouse_actions_transition_time ease, border-color $main_menu_mouse_actions_transition_time ease);
}

@mixin flashmessage_transitions() {
  @include transition(background-color 0.375s ease-in-out, z-index 0.375s ease-in-out);
}

@mixin transition_for_transform($amount-of-time) {
	-webkit-transition: -webkit-transform $amount-of-time ease-in-out;
	-moz-transition:    -moz-transform $amount-of-time ease-in-out;
	-o-transition:      -o-transform $amount-of-time ease-in-out;
	-ms-transition:     -ms-transform $amount-of-time ease-in-out;
	transition:         transform $amount-of-time ease-in-out;
}

@mixin box_shadows() {
  -webkit-box-shadow: 1px 1px 0px 1px $button_grey_border;
  -moz-box-shadow: 1px 1px 0px 1px $button_grey_border;
  box-shadow: 1px 1px 0px 1px $button_grey_border;
}

@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

@mixin transform($args...) {
  -webkit-transform: $args;
  -moz-transform: $args;
  -ms-transform: $args;
  -o-transform: $args;
  transform: $args;
  transform-origin: 50% 50%;
}

@mixin reset_input_browser_styles() {
	-webkit-appearance:     none;
    -moz-appearance:        none;
    -ms-appearance:         none;
    -o-appearance:          none;
    appearance:             none;
    outline:	none;
}

@mixin scrollbars() {
  ::-webkit-scrollbar {
      width:  1em;
      height: 1em;
  }

  ::-webkit-scrollbar-thumb {
      background-color: $white;
      border-radius:0.5em;
      border: 0.25em solid rgba(0, 0, 0, 0);
      background-clip: padding-box;
      min-height: 1.5em;
  }

  ::-webkit-scrollbar-thumb:hover {
      background-color: $superwhite;
      border-radius:0.5em;
      border: 0.25em solid rgba(0, 0, 0, 0);
      background-clip: padding-box;
  }

  ::-webkit-scrollbar-track {
      background: $dark_grey;
      border-radius:0.5em;
      border: 0.25em solid $base_grey;
      margin: 0.25em;
  }
}

@mixin scrollbars_top_menu() {

  ::-webkit-scrollbar {
      width:  1em;
      height: 0.75em;
      z-index: 9999;
  }

  ::-webkit-scrollbar-thumb {
      border-radius:0.5em;
      border: 0.25em solid transparent;
      background-clip: padding-box;
      min-height: 1.5em;
  }

  ::-webkit-scrollbar-thumb:hover {
      border-radius:0.5em;
      border: 0.25em solid transparent;
      background-clip: padding-box;
  }

  ::-webkit-scrollbar-track {
      border-radius:0.5em;
      border-width: 0.25em;
      border-style: solid;
      margin: 0.25em;
  }
}

@mixin scrollbar_top_menu_main() {
  @include scrollbars_top_menu();

  ::-webkit-scrollbar-thumb {
      background-color: $main_menu_2_submenu_active_link_hover;
  }

  ::-webkit-scrollbar-thumb:hover {
      background-color: $sub_menu_background;
  }

  ::-webkit-scrollbar-track {
      background: $main_menu_inactive_link_hover;
      border-color: $background_color;
  }
}

@mixin scrollbar_top_menu_sub() {
  @include scrollbars_top_menu();

  ::-webkit-scrollbar-thumb {
      background-color: $white;
  }

  ::-webkit-scrollbar-thumb:hover {
      background-color: $superwhite;
  }

  ::-webkit-scrollbar-track {
      background: $sub_menu_inactive_link_hover;
      border-color: $sub_menu_background;
  }
}

@mixin scrollbar_top_menu_sub_hover() {
  @include scrollbar_top_menu_sub();

  ::-webkit-scrollbar-track {
      border-color: $main_menu_2_submenu_active_link_hover;
  }
}

@mixin scrollbar_top_menu_sub_hover_noactive() {
  @include scrollbar_top_menu_sub();

  ::-webkit-scrollbar-thumb {
      background-color: $main_menu_2_submenu_active_link_hover;
  }

  ::-webkit-scrollbar-thumb:hover {
      background-color: $sub_menu_background;
  }

  ::-webkit-scrollbar-track {
      border-color: $main_menu_inactive_link_hover;
  }
}

@mixin rotate_upside_down() {
    transform:rotateX(180deg);
    -ms-transform:rotateX(180deg);
    -webkit-transform:rotateX(180deg);
}

@mixin rotate_cancel() {
    transform:rotateX(0deg);
    -ms-transform:rotateX(0deg);
    -webkit-transform:rotateX(0deg);
}

@mixin clearfix() {
  &::after {
    content: '';
    clear: both;
    display: table;
  }
}

@mixin inner_table_separator() {
  &::after {
    content: '';
    height: 1px;
    background-color: #999;
    width:90%;
    margin: 0.125em auto;
    display:block;
  }

  &:last-child {
    &::after {
      display: none;
    }
  }
}
