$strong_black:    #000;
$black:           #222;
$soft_black:      #444;
$light_black:     #666;
$halftone:        #888;
$strong_grey:     #999;
$grey:            #aaa;
$medium_grey:     #bbb;
$soft_grey:       #ccc;
$light_grey:      #ddd;
$white:           #eee;
$strong_white:    #fff;
$light_red:       #FF9191;
$soft_red:        #FF7F7F;
$strong_red:      #e00;
$dark_red:        #8E0000;



$body_background:                     $strong_black;
$body_text:                           $white;
$workspace_background:                $white;
$workspace_text:                      $black;
$section_2n_separator_background:     $light_grey;
$section_2n-1_separator_background:   $white;

$widget_background:                   $soft_grey;
$widget_text:                         $black;
$widget_caption_background:           $grey;
$widget_caption_text:                 $black;
$widget_caption_danger_background:    $dark_red;
$widget_caption_danger_text:          $white;
$widget_caption_required_text:        $strong_black;
$widget_border:                       $strong_grey;
$widget_caption_3D_shadow:			  $strong_grey;

$scrollbar_handle:					  $white;
$scrollbar_hover_handle:  		      $strong_white;
$scrollbar_background:                $grey;



$main_menu_background:                                  $strong_black;
$main_menu_text:                                        inherit;
$main_menu_item_3D_shadow:								$light_black;

$main_menu_active_link_background:                      $white;
$main_menu_active_link_text:                            $black;
$main_menu_active_link_hover_background:                $white;
$main_menu_active_link_hover_text:                      $strong_black;

$main_menu_active_link_with_submenu_background:         $grey;
$main_menu_active_link_with_submenu_text:               $black;
$main_menu_active_link_with_submenu_hover_background:   $medium_grey;
$main_menu_active_link_with_submenu_hover_text:         $strong_black;

$main_menu_inactive_link_background:                    inherit;
$main_menu_inactive_link_text:                          inherit;
$main_menu_inactive_link_hover_background:              $soft_black;
$main_menu_inactive_link_hover_text:                    $strong_white;

$sub_menu_background:                                   $main_menu_active_link_with_submenu_background;
$sub_menu_text:                                         $main_menu_active_link_with_submenu_text;
$sub_menu_item_3D_shadow:								$halftone;


$sub_menu_active_link_background:                       $white;
$sub_menu_active_link_text:                             $black;
$sub_menu_active_link_hover_background:                 $white;
$sub_menu_active_link_hover_text:                       $strong_black;
$sub_menu_smallscreen_active_link_hover_background:     $strong_white;
$sub_menu_smallscreen_active_link_hover_text:           $strong_black;

$sub_menu_inactive_background:                          $main_menu_inactive_link_hover_background;
$sub_menu_inactive_text:                                $main_menu_inactive_link_hover_text;

$sub_menu_inactive_link_background:                     inherit;
$sub_menu_inactive_link_text:                           inherit;
$sub_menu_inactive_link_hover_background:               $halftone;
$sub_menu_inactive_link_hover_text:                     $strong_white;

$sub_menu_incative_inactive_link_hover_background:      inherit;
$sub_menu_incative_inactive_link_hover_text:            inherit;



$input_background:                    $white;
$input_text:                          $black;
$input_border:                        $white;
$input_hover_background:              $strong_white;
$input_hover_text:                    $strong_black;

$input_selected_background:           $strong_white;
$input_selected_text:                 $strong_black;
$input_selected_border:               $dark_red;

$input_disabled_background:           $grey;
$input_disabled_text:                 $light_black;;
$input_disabled_border:               $grey;

$input_error_background:              $soft_red;
$input_error_text:                    $black;
$input_error_border:                  $soft_red;

$input_error_hover_background:        $light_red;
$input_error_hover_border:            $light_red;



$button_background:                   $white;
$button_text:                         $black;
$button_hover_background:             $strong_white;
$button_hover_text:                   $strong_black;
$button_pressed_background:           $strong_black;
$button_pressed_text:                 $strong_white;

$button_danger_background:            $dark_red;
$button_danger_text:                  $white;
$button_danger_hover_background:      $strong_red;
$button_danger_hover_text:            $strong_white;

$button_selected_background:          $black;
$button_selected_text:                $white;
$button_selected_hover_background:    $strong_black;
$button_selected_hover_text:          $strong_white;

$button_disabled_background:          $grey;
$button_disabled_text:                $light_black;



$checkbox_background:                 $grey;
$checkbox_diode:                      $soft_black;
$checkbox_hover_background:           $halftone;
$checkbox_on_background:              $black;
$checkbox_on_diode:                   $strong_red;
$checkbox_on_hover_background:        $strong_black;

$label_disabled_text:                 $light_black;



$table_row_even_background:           $light_grey;
$table_row_odd_background:            $white;
$table_row_even_disabled_background:  $halftone;
$table_row_odd_disabled_background:   $strong_grey;
$table_row_hover_background:          $medium_grey;
$table_row_hover_text:                $strong_black;
$table_row_error_background:          $dark_red;
$table_row_error_text:                $white;
$table_row_selected_background:       $black;
$table_row_selected_text:             $white;
$table_row_selected_hover_background: $strong_black;
$table_row_selected_hover_text:       $strong_white;
$inner_table_row_hover_background:    $halftone;
$inner_table_row_hover_text:          $strong_white;

$table_head_background:               $soft_grey;
$table_head_text:                     $black;
$table_head_error_background:         $dark_red;
$table_head_caption_error_text:       $white;

$table_footer_background:             $grey;
$table_footer_text:                   $black;



$main_border_radius:      0.25em;
$wrap_border_radius:      0.5em;
$border-width:            0.125em;
$border-2x-width:         $border-width * 2;

$buttons_mouse_actions_transition_time: 0.15s;
$main_menu_mouse_actions_transition_time: 0.30s;

@import "mixins"
