$background_color: #000;
$white: #eee;
$white_input: #f8f8f8;

$main_menu_active_link: $white;
$main_menu_active_link_text: #000;
$main_menu_inactive_link_hover: #444;

$button_grey: #777;
$button_grey_hover: #666;

$button_selected: #000;
$button_selected_hover: #333;

$button_danger: #8E0000;
$button_danger_hover: #e00;

$input_selected: #8E0000;
$input_validation_error: #FF7F7F;

$hreflink_color: #D60000;
$hreflink_color_2: #000000;

$group_background: #bbb;

$even_table_line_color: #ccc;
$odd_table_line_color: #ddd;
$table_row_hover: #aaa;
$item_selected: #83B2FF;

$buttons_mouse_actions_transition_time: 0.15s;
$main_menu_mouse_actions_transition_time: 0.30s;

@mixin button_transitions() {
	@include transition(background-color $buttons_mouse_actions_transition_time ease, color $buttons_mouse_actions_transition_time ease);
}

@mixin menu_transitions() {
	@include transition(background-color $main_menu_mouse_actions_transition_time ease);
}

@mixin inputs_transitions() {
	@include transition(border-color $main_menu_mouse_actions_transition_time ease);
}

@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

@mixin transform($args...) {
  -webkit-transform: $args;
  -moz-transform: $args;
  -ms-transform: $args;
  -o-transform: $args;
  transform: $args;
}

@mixin transition_for_transform($amount-of-time) {
	-webkit-transition: -webkit-transform $amount-of-time ease;
	-moz-transition:    -moz-transform $amount-of-time ease;
	-o-transition:      -o-transform $amount-of-time ease;
	-ms-transition:     -ms-transform $amount-of-time ease;
	transition:         transform $amount-of-time ease;
}

@mixin reset_input_browser_styles() {
	-webkit-appearance:     none;
    -moz-appearance:        none;
    -ms-appearance:         none;
    -o-appearance:          none;
    appearance:             none;
    outline:	none;
}

@mixin scrollbars() {
  // For Google Chrome
  ::-webkit-scrollbar {
      width:  1em;
      height: 1em;
  }

  ::-webkit-scrollbar-thumb {
      background-color: $button_grey;
      border-radius:0.5em;
      border: 0.25em solid rgba(0, 0, 0, 0);
      background-clip: padding-box;
  }

  ::-webkit-scrollbar-thumb:hover {
      background-color: $button_grey_hover;
      border-radius:0.5em;
      border: 0.25em solid rgba(0, 0, 0, 0);
      background-clip: padding-box;
  }

  ::-webkit-scrollbar-track {
      background: $white;
      border-radius:0.5em;
      border:0.25em solid $group_background;
  }

  // For Internet Explorer
  body {
    scrollbar-face-color: $button_grey;
    scrollbar-track-color: $white_input;
  }
}
