@import "variables";

section.form {

	div {
		display:table;
	}

	article {
		display: table;
		background-color: $group_background;
		border-radius: 0.25em;
		padding:0.25em;
		margin: 0.5em 0;

		div {

			div {
				float:left;
			}

			input.error {

				background-color: $input_validation_error;
			}

			&.form_errors {

				span {
					display: block;
					background-color: $button_danger;
					color: white;
					padding: 0.125em 0.25em;
					margin: 0.125em 0.25em;
					margin-top: 0.25em;
					border-radius: 0.25em;
				}
			}

			label {
				margin-left: 0.25em;
				margin-right: 0.125em;
			}

			table {
				margin: 0.125em;
				margin-top: 0.25em;

				tbody {

					tr {

						&:first-child {

							td {

								&:first-child {
									border-top-left-radius: 0.25em;
								}

								&:last-child {
									border-top-right-radius: 0.25em;
								}
							}
						}

						&:last-child {

							td {

								&:first-child {
									border-bottom-left-radius: 0.25em;
								}
								
								&:last-child {
									border-bottom-right-radius: 0.25em;
								}
							}
						}

						td {
							
						}
					}
				}
			}
		}
	}
}