table#goods {
	width: 100%;
	max-width:100%;

	td, th {

		&.good_description {
			word-wrap:break-all;
			word-break: break-all;
			white-space: normal;
			width:100%;
		}

		&.kn_code, #local_taric_kncode_sort_link {
			white-space: nowrap;
		}

		&.good_ref, #ident_sort_link {
			white-space: nowrap;
		}
	}

	tfoot {

		tr {

			th {
				
				div {
					display: inline-block;
					vertical-align: middle;
					margin-left: 1em;
				}
			}
		}
	}
}