table#goods {

	td, th {

		&.goods_description_cap {
			word-wrap:break-all;
			word-break: break-all;
			white-space: normal;
		}

		&.good_kncode, #kncode_sort_link {
			white-space: nowrap;
		}

		&.good_ident, #ident_sort_link {
			width:50%;
		}
	}
}

@media only screen and (max-width: 480px) {
   
   table#goods {

   		td, th {
   			display: block;

   			&.good_ident, #ident_sort_link {
				//width:100%;
				font-weight: bold;
			}

			&.good_kncode {
				font-weight:bold;
				font-style: italic;
				text-align:right;
			}

			#kncode_sort_link {
				float:right;
				font-style: italic;
			}
   		}
   }
}