@import "variables";

@font-face 	{ 	
	font-family: "amsans"; 
	src: font-url('amsans.eot');
	src: font-url('amsans.eot?#iefix') format('embedded-opentype'), font-url('amsans.otf');
}

html {
	height: 100%;
	width:100%;

	body {
		margin:0;
		background-color: $white;
		min-height: 100%;
		position:relative;

		a {
			text-decoration: none;
			color: $hreflink_color_2;

			&:hover {
				text-decoration: underline;
			}			
		}

		section {
			padding: 0 0.75em;
			margin: 0.5em 0;
		}

		div.dummy_load {
			height:2.25em;
			width:100%;
		}

		footer {
			background-color: $background_color;
			color: white;
			position:absolute;
			bottom:0;
			left:0;
			right:0;
			padding: 0.25em 0.25em;

			div {
				display: inline-block;

				a {
					font-weight: bold;
					color: $hreflink_color;
				}

				&:first-child {
					float:left;
				}

				&:last-child {
					float:right;
				}
			}
		}
	}
}