@import "variables";

@font-face 	{ 	
	font-family: "amsans"; 
	src: font-url('amsans.eot');
	src: font-url('amsans.eot?#iefix') format('embedded-opentype'), font-url('amsans.otf');
}

html {

	body {
		margin:0;
		background-color: $white;

		a {
			text-decoration: none;				
		}

		section {
			padding: 0 0.5em;
			margin: 0.5em 0;
		}

		input, select {
			font-size: 1em;
			border:0;
			padding:0.125em 0.25em;
			margin:0em;
			border-radius:0.25em;
			background-color: $white_input;
			//line-height:1.25em;
			//background-color: white;
			-webkit-appearance:     none;
		    -moz-appearance:        none;
		    -ms-appearance:         none;
		    -o-appearance:          none;
		    appearance:             none;
		    outline:	none;
		}

		input[type=submit] {
			background-color: $button_grey;
			color: white;

			@include transition(background-color .1s ease);

			&:hover {
				background-color: $button_grey_hover;
			}
		}

		select {
			padding-right: 2em;
		}

		.selected_button {
			background-color: $button_selected;
		}

		.danger_button {
			background-color: $button_danger;
		}
	}
}