table#manufacturers {

	td, th {
		
		span {
			display: block;
		}

		&.manufacturer_name {
			white-space: nowrap;
		}

		&.manufacturer_taric_codes, &.manufacturer_incoterm_shortlands {

			span {
				white-space: nowrap;
			}
		}
		
		&.manufacturer_intrastat_clients {
			width:99%;
		}
	}
}

table.manufacturer_local_tarics {

	td:first-child {
		white-space: nowrap;
	}
}

table.manufacturer_goods {

	td:first-child, td:nth-child(4) {
		white-space: nowrap;
	}
}

@media only screen and (max-width: 720px) {


	table.manufacturer_goods {

		td, th {
			display: block;
			//clear: both;
		}

		td:first-child {
			float: left;
			//clear: both;
			//clear: right;
			//text-align:right;
		}
		
		td:nth-child(2) {
			float: left;
			//clear: both;
		}

		td:nth-child(3) {
			float: right;
			//clear: right;
		}

		td:nth-child(4) {
			//display: inline;
			clear: both;
		}

		td:nth-child(3)::after {
			//content:"\a";
    		//white-space: pre;
    		//clear: both;
		}
	}	
}

@media only screen and (max-width: 480px) {
   
   table#manufacturers {

		td, th {

			span {
				display: inline-block;
				margin-right: 0.125em;
			}

			&.manufacturer_name, &.manufacturer_taric_codes, &.manufacturer_incoterm_shortlands {
				font-weight: bold;
			}

			&.manufacturer_taric_codes, &.manufacturers_taric_codes_cap {
				font-style: italic;
				text-align: right;
			}
			
			&.manufacturer_intrastat_clients {
				width:auto;
			}
		}
	}
}