table#manufacturers {

	td, th {

		&.manufacturer_name, &.manufacturer_taric_codes {
			white-space: nowrap;
		}
		
		&.manufacturer_intrastat_clients {
			width:99%;
		}
	}
}

@media only screen and (max-width: 480px) {
   
   table#manufacturers {

		td, th {
			display: block;

			&.manufacturer_name, &.manufacturer_taric_codes {
				font-weight: bold;
			}

			&.manufacturer_taric_codes, &.manufacturers_taric_codes_cap {
				font-style: italic;
				text-align: right;
			}
			
			&.manufacturer_intrastat_clients {
				width:auto;
			}
		}
	}
}