@import "variables";

nav {

	ul {
		display: table;
		margin: 0;
		padding: 0;
		max-width: 100%;

		li {
			display: table-cell;
			vertical-align: bottom;

			a {
				color: inherit;
				display: block;
			}
		}
	}

	&.main_menu {
		background-color: $background_color;
		color: $white;
		line-height: 32px;
		padding: 0 0.5em;
		padding-top: 0.375em;
		font-size: 1.25em;
		font-family:amsans;

		ul {

			li {
				cursor: pointer;

				a {
					@include menu_transitions();
					padding: 0 0.375em;
					border-top-left-radius: 0.25em;
					border-top-right-radius: 0.25em;
					text-decoration:none;
					word-wrap: break-word;
					
					&.active {
						background-color: $main_menu_active_link;
						color: $main_menu_active_link_text;
					}

					&:hover {
						background-color: $main_menu_inactive_link_hover;
					}

					&.active:hover {
						background-color: $main_menu_active_link;
					}
				}
			}
		}
	}

	&.pagination {
		margin: 0.125em 0em;

		span {
			display: block;
			float:left;
			min-width: 1em;
			text-align: center;

			&.next, &.last, &.prev, &.first {
				font-weight: normal;
			}

			a {
				display: block;
				white-space: nowrap;
			}
		}
	}
}

@media only screen and (max-width: 480px) {

   	nav.main_menu {
   		font-size: 1em;
   		padding: 0.375em 0.75em;

   		ul {
   			display:none;
   			
   			li {
   				display: inline-block;
   				margin: 0.125em 0;

   				a {
   					border-radius: 0.25em;
   				}
   			}
   		}

	   	&:hover {

	   		ul {
	   			display:block;
	   		}
   		}
   }

   	footer {
		display:none;
   	}

}