@import "variables";

nav {

	ul {
		display: table;
		margin: 0;
		padding: 0;

		li {
			display: table-cell;
			vertical-align: bottom;

			a {
				color: inherit;
				display: block;
			}
		}
	}

	&.main_menu {
		background-color: $background_color;
		color: $white;
		line-height: 32px;
		padding: 0 0.5em;
		padding-top: 0.375em;
		font-size: 1.25em;
		font-family:amsans;

		ul {

			li {

				a {
					@include menu_transitions();
					padding: 0 0.375em;
					border-top-left-radius: 0.25em;
					border-top-right-radius: 0.25em;
					text-decoration:none;
					
					&.active {
						background-color: $main_menu_active_link;
						color: $main_menu_active_link_text;
					}

					&:hover {
						background-color: $main_menu_inactive_link_hover;
					}

					&.active:hover {
						background-color: $main_menu_active_link;
					}
				}
			}
		}
	}
}