
section.search_bar {

	flex: 0 1 auto;

	form {
		background-color: #bbb;
		padding: 0.25em 0.25em;
		display:table;
		text-align: left;
	}

	form > div {
		vertical-align:middle;
		display: inline-block;
		margin-right: 0.125em;

		&:last-child {
			margin-right: 0;

			& > * {
				float:left;
			}
		}

		label {
			margin-left: 0.25em;
		}

		input[type=text], input[type=search] {
			max-width: 10em;
		}

		&.search_checkbox_wrap {
			line-height:1.5em;

			input[type=checkbox] {
				display:inline-block;
				vertical-align: middle;
				width:1.125em;
				height:1.125em;
				border-radius:1.125em;
				margin-left:0.25em;
			}

			label {
				margin: 0;
			}
		}
	}
}