
section.search_bar {

	form {
		border-radius: 0.25em;
		background-color: #bbb;
		padding: 0.25em 0.25em;
		display:table;
	}

	form > div  {
		display: inline-block;
		margin-right: 0.125em;

		&:last-child {
			margin-right: 0;
		}

		&:last-child > * {
			
			&:first-child {
				margin-right: 0.25em;
			}

			&:last-child {
				margin-right: 0.125em;
			}
		}

		label {
			margin-left: 0.25em;
		}
	}
}