@import "variables";

section.item_details {

	div.tablewrap {
		display: inline-table;
		margin: 0.25em 0;
		margin-right: 0.25em;
		vertical-align: top;

		table.uom_calculator {

			tbody {
				display: block;
				padding: 0.25em 0;
				background-color: $table_background;
			}
			
		}

		table.good_manufacturers_list {

			tr {

				// values
				td.inner_table_wrap {
					padding-right:0;
					background-color: inherit;

					table {
						width:100%;
						background-color: inherit;

						tbody {
							background-color: inherit;

							tr {
								background-color: inherit;

								&.used {
									cursor: pointer;

									&:hover {
										background-color: $table_row_hover;
									}

									&:active, &.selected {
										background-color: $black;
										color: $white;

										&:hover {
											background-color: $button_selected_hover;
										}
									}
								}

								td {
									width: 33.3%;
								}
							}
						}
					}
				}

				// caption
				th.inner_table_wrap {

					table {
						table-layout: fixed;

						tr {

							th {
								min-width: 4em;
								width: 33.3%;
							}
						}
					}
				}
			}
		}
	}
}

@media only screen and (max-width: 480px) {
   
   	table.good_manufacturers_list {

   		tr {

   			th, td {
   				display: block;

   				table {

   					tr {

   						th, td {
   							display: table-cell;
   						}
   					}
   				}
   			}
   		}
   	}

   	table#uomscalc_list {

   		thead {

   			tr {

   				th {
   					font-weight: normal;
   				}
   			}
		}
		
		tr {

			th, td {
				display: block;

				&.uomscalc_mem_result {
					font-style: italic;
					text-align:right;
				}
			}
		}
	}
}