@import "variables";

.button {
	@include reset_input_browser_styles();
	@include all_transitions();

	cursor: pointer;
	color: $button_text;
	background-color: $button;
	border-color: transparent;

	&:hover {
		background-color: $button_hover;
		color: $button_text_hover;
		text-decoration: none;
	}

	&:focus {
		background-color: $button_hover;
		color: $button_text_hover;
		border-color: $input_selected;
	}

	&:active {
		background-color: $button_selected;
		border-color: $button_selected;
		color: $button_selected_text_hover;
	}

	&.danger {
		background-color: $button_danger;
		color: $button_danger_text;

		&:hover {
			background-color: $button_danger_hover;
			color: $button_danger_text_hover;
		}

		&:focus {
			background-color: $button_danger_hover;
			color: $button_danger_text_hover;
			border-color: $input_selected_inverted;
		}

		&:active {
			background-color: $button_selected;
			border-color:  $button_selected;
			color: $button_danger_text_hover;
		}
	}

	&.selected {
		background-color: $button_selected;
		color: $button_selected_text;

		&:hover {
			background-color: $button_selected_hover;
			color: $button_selected_text_hover;
		}

		&:focus {
			background-color: $button_selected_hover;
			color: $button_selected_text_hover;
		}

		&:active {
			background-color:  $button_selected_hover;
			border-color:  $button_selected_hover;
		}
	}

	&.disabled, &:disabled {
		background-color: $button_disabled;
		color: $button_disabled_text;
		cursor: not-allowed;
		border-color: $button_disabled;
	}

	&.hidden {
		display: none;
	}

	&.important {
		font-weight: bold;
	}
}

button, .button {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0.125em;
	font-size: 1em;
	padding: 0.125em 0.25em;
	border-radius: 0.25em;
	border-style: solid;
	border-width: 0.125em;
	display: inline-block;
	vertical-align:middle;
	box-sizing: border-box;
	line-height:1.125em;
	text-align: center;

	&:after {
		display: none;
	}
}
