@import "variables";

body {

    div.flash_messages {
        position: absolute;
        top:0;
        left:0;
        right:0;
        bottom:0;
        background: rgba(0,0,0,0.5);
        z-index: 9999;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 100vh;

        div {
            max-width: 50%;

            table {

                caption {
                    background-color: $dark_red;
                    color: $white;
                }

                tbody {

                    tr {

                        td {
                            padding-top: 0.25em;
                            padding-bottom: 0.25em;
                        }

                        &:first-child {
                            td { padding-top: 0.375em; }
                        }

                        &:last-child {
                            td { padding-bottom: 0.375em; }
                        }

                        &.buttons {
                            text-align: right;
                        }
                    }
                }
            }
        }

        @media only screen and (max-width: 480px) {

            div {
                max-width: 90%;
            }
        }
    }
}
