@import "variables";

body {

    div.flash_messages, div.popups {
        @include flashmessage_transitions();
        position: fixed;
        top:0;
        left:0;
        right:0;
        bottom:0;
        background: rgba(0,0,0,0);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        z-index: -1;

        &.visible {
            background: rgba(0,0,0,0.5);
        }

        div {
            min-width:10em;
            max-width: 50%;

            table {
                min-width:10em;

                caption {
                    background-color: $widget_caption_danger_background;
                    color: $widget_caption_danger_text;
                }

                tbody {
                    color: $widget_text;

                    tr {

                        td {
                            padding-top: 0.25em;
                            padding-bottom: 0.25em;
                        }

                        &:first-child {
                            td { padding-top: 0.375em; }
                        }

                        &:last-child {
                            td { padding-bottom: 0.375em; }
                        }

                        td.buttons {
                            text-align: right;
                            padding:0.375em;
                        }
                    }
                }
            }
        }

        @media only screen and (max-width: 480px) {

            div {
                max-width: 90%;
            }
        }
    }
}
