@import "variables";


article {

	div.images {
		padding: 0.25em;


		picture {
			
			display: inline-block;
			vertical-align: middle;
			box-shadow: 2px 2px 4px 1px black;
			border-radius: 0.375em;
			margin:0.5em;
			background-color: transparent;

			div {

				input[type=checkbox] {
					margin-left: 0.5em;
					margin-bottom: 0.125em;
				}
			}

			img {
				max-width: 16em;
				max-height: 16em;
				display: block;
				margin: 0.125em;
				border-radius: 0.25em;
			}
		}
	}
}