@import "variables";

input, select, textarea, div.multiselect {
	@include reset_input_browser_styles();
	@include all_transitions();

	display: inline-block;
	margin: 0.125em 0.125em;
	font-size: 1em;
	border-width:0.125em;
	border-style: solid;
	padding:0.125em 0.25em;
	border-radius:0.25em;
	line-height:1em;
	box-sizing:border-box;
	vertical-align:middle;

	background-color: $input_background;
	color: $input_text;
	border-color: $input_background;

	&:hover {
		background-color: $input_hover_background;
		border-color: $input_hover_background;
		color: $input_hover_text;
	}

	&:focus {
		border-color: $input_selected_border;
		background-color: $input_selected_background;
		color: $input_selected_text;
	}

	&:disabled {
		background-color: $input_disabled_background;
		border-color: $input_disabled_border;
		color: $input_disabled_text;
		cursor: not-allowed;
	}

	&.error{
		background-color: $input_error_background;
		border-color: $input_error_background;

		&:-webkit-autofill {
			-webkit-box-shadow: 0 0 0 100px $input_error_background inset !important;
		}

		&:hover {
			background-color: $input_error_hover_background;
			border-color: $input_error_hover_background;
		}

		&:focus {
			background-color: $input_error_hover_background;
			border-color: $input_selected_border;
		}

		&:disabled {
			background-color: $input_error_background;
			border-color: $input_error_background;
		}
	}

	&.required {

	}

	&.hidden {
		display: none !important;
	}
}

textarea {
	font-family: inherit;
    font-size: inherit;
}

input[type=text], input[type=search], select {
	height: 1.625em;
}

input[type=search]::-webkit-search-cancel-button {
	@include all_transitions();
	-webkit-appearance: none;
	background-image: image-url('searchfield-cancel.png');
	background-size: contain;
	height:0.875em;
	width:0.875em;
	margin: 0.125em;
	border-radius: 0.75em;
    background-color: $button_danger_background;

    &:hover {
    	background-color: $button_danger_hover_background;
    }
}

select, div.multiselect {
	padding-right: 1.25em;
	cursor: pointer;
	max-width: 100%;
	//overflow: hidden;
	position: relative;
	background-image: image-url('select_dropdown_arrow.png');
	background-repeat: no-repeat;
	background-position: right;
	background-size: contain;

	&:disabled {
		background-image: image-url('select_dropdown_arrow_disabled.png');
	}

	option {

		&.obsolete {
			background-color: $input_disabled_background;
			color: $input_disabled_text;
		}
	}
}

div.multiselect {
	margin:0;
	height: 1.625em;
	position: relative;
	padding-left: 0;
	padding-right:0;
	overflow: hidden;

	& > span {
		font-size: 1em;
		display: inline-block;
		vertical-align: middle;
		line-height: 1.25em;
		height:1.5em;
		margin-right:1.5em;
		margin-left:0.25em;
		font-family: sans-serif;
	}

	div {
		//@include all_transitions();
		max-height: 50vh;
		position: relative;
		border: 0.125em solid $strong_grey;
		overflow-y: scroll;
		overflow-x: hidden;
		background-color: $widget_background;
		z-index: 9999;
		//display: inline-table;

		span {
			@include all_transitions();
			display: block;
			height:1.25em;
			line-height: 1.25em;
			vertical-align: middle;
			position: relative;

			&:nth-child(2n) {
				background-color: $table_row_even_background;
			}

			&:nth-child(2n-1) {
				background-color: $input_background;
			}

			&:hover {
				background-color: $table_row_hover_background;
				color: $table_row_hover_text;
			}

			input, label {
				display: inline-block;
				vertical-align: middle;
				line-height: 1.25em;
			}

			label {
				max-height: 1.25em;
				padding-left:0.125em;
				width:100%;
				padding-left: 1.5em;
				cursor: pointer;
			}

			input {
				display: inline-block;
				position: absolute;
				left:0.175em;
				bottom: 0em;
			}
		}

		span.select_reset_button {
			height:2em;
		}
	}

	&:hover {

		div {

			span:nth-child(2n-1) {
				background-color: $input_hover_background;
			}
		}
	}

	&:focus {

		div {

			span:nth-child(2n-1) {
				background-color: $input_hover_background;
			}
		}
	}

	&.open {
		overflow: visible;
	}
}

input[type=submit] {
	padding: 0.125em 0.25em;
	border-width: 0.125em;
}

input[type=checkbox], input[type=radio] {
	display: block;
	border-width:0.25em;
	border-style: solid;
	border-radius:0.625em;
	margin:0;
	padding:0;
	width:0.875em;
	height:0.875em;
	cursor:pointer;

	border-color: $checkbox_background;
	background-color: $checkbox_diode;

	&.big {
		width:1.125em;
		height:1.125em;
	}

	&:hover {
		border-color: $checkbox_hover_background !important;
	}

	&:checked {
		background-color: $checkbox_on_diode !important;
		border-color: $checkbox_on_background !important;

		&:hover {
			border-color: $checkbox_on_hover_background !important;
		}
	}
}

label {
	vertical-align:middle;
	line-height: 1.625em;
	display: inline-block;

	&.disabled {
		color: $label_disabled_text;
	}

	&.required {
		font-weight: bold;

		&::before {
			content: '** ';
		}
	}
}

.copy_to_clipboard {
	margin-left: 0.125em;
	margin-top: 0.125em;
	margin-bottom: 0.125em;
	border-radius: 50%;
	width: 1em;
	height: 1em;
	line-height: 1em;
	text-align: center;
	cursor: pointer;
	font-weight: normal;
	display: inline-block;
	@include links_transitions();

	&:hover {
		background-color: $strong_black;
		color: $white;
	}
}

span.to_clipboard {
	display: inline !important;
}
