@import "variables";

input, select, textarea {
	@include reset_input_browser_styles();
	@include all_transitions();

	display: inline-block;
	margin: 0.125em 0.125em;
	font-size: 1em;
	border:0.125em solid $white;
	padding:0.125em 0.25em;
	border-radius:0.25em;
	background-color: $white;
	line-height:1em;
	box-sizing:border-box;
	vertical-align:middle;

	&:hover {
		background-color: $superwhite;
		border-color: $superwhite;
	}

	&:focus,  {
		border-color: $input_selected;
		background-color: $superwhite;
	}

	&:disabled {
		background-color: $disabled_input;
		border-color: $disabled_input;
		cursor: not-allowed;
	}

	&.error{
		background-color: $input_validation_error;
		//border-color: $button_danger;

		&:hover {
			//background-color: $button_danger_hover;
			//border-color: $button_danger_hover;
		}
	}

	&.required {

	}

	&.hidden {
		display: none !important;
	}
}

textarea {
	font-family: inherit;
    font-size: inherit;
}

input[type=text], input[type=search], select {
	height: 1.625em;
}

input[type=search]::-webkit-search-cancel-button {
	@include all_transitions();
	-webkit-appearance: none;
	background-image: url(searchfield-cancel.png);
	background-size: contain;
	height:0.875em;
	width:0.875em;
	margin: 0.125em;
	border-radius: 0.75em;
    background-color: $dark_red;

    &:hover {
    	background-color: $strong_red;
    }
}

select {
	padding-right: 1.25em;
	cursor: pointer;
	max-width: 100%;
	overflow: hidden;
	background-image: url(select_dropdown_arrow.png);
	background-repeat: no-repeat;
	background-position: right;
	background-size: contain;

	&:disabled {
		background-image: url(select_dropdown_arrow_disabled.png);
	}

	option {

		&.obsolete {
			background-color: $button_disabled;
			color: $button_disabled_text;
		}
	}
}

input[type=submit] {
	padding: 0.125em 0.25em;
	border-width: 0.125em;
	border-color: transparent;

	&:active {
		border-color: $button_selected;
	}
}

input[type=checkbox], input[type=radio] {
	display: block;
	border:0.25em solid $button_disabled;
	background-color: $soft_black !important;
	border-radius:0.625em;
	margin:0;
	padding:0;
	width:0.875em;
	height:0.875em;
	cursor:pointer;

	&.big {
		width:1.125em;
		height:1.125em;
	}

	&:hover {
		border-color: $button_disabled_hover !important;
	}

	&:checked {
		background-color: $button_danger_hover !important;
		border-color: $button_selected !important;

		&:hover {
			border-color: $button_selected_hover !important;
		}
	}
}

label {
	vertical-align:middle;
	line-height: 1.625em;
	display: inline-block;

	&.disabled {
		color: $disabled_input_text;
	}

	&.required {
		font-weight: bold;
	}
}

.copy_to_clipboard {
	margin: 0 0.25em;
	cursor: pointer;
	font-weight: normal;
	display: inline-block;
	transition: 0.2s ease-in-out;

	&:hover {
		transform: rotate(-45deg);
	}
}

span.to_clipboard {
	display: inline !important;
}
