@import "variables";

html {
	scroll-behavior: smooth;

	body {

		&.noscroll {
			height:100%;
			overflow: hidden;
		}

		.clear {
			clear:both;
		}

		.center {
			text-align: center;
		}

		.right {
			text-align: right;
		}

		.left {
			text-align: left;
		}

		.float-right {
			float: right;
		}

		.float-left {
			float: left;
		}

		.novisible {
			display: none !important;
		}

		.decorated_wrap {
			background-color: $widget_background;
			border-style: solid;
			border-width:1px;
			border-color: $widget_border;
			border-radius: $wrap_border_radius;

			&.shrinked {
				display:table;
			}

			&.centered {

			}
		}

		.wrapper {
			display: table;
			padding:0.25em;
			background-color: $widget_background;
			border-radius: 0.25em;
		}
	}
}

@media only screen and (min-width: 481px) {

	.disable_on_bigscreen {
		display: none !important;
	}
}

@media only screen and (max-width: 480px) {

	.disable_on_smallscreen {
		display: none !important;
	}
}
