@import "variables";

main {
	@include scrollbars();
	overflow-y:auto;
	overflow-x: hidden;
	flex: 1 1 auto;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	//padding:0.375em 0.75em;
	background-color: $white;

	/*& > * {
		margin :0.375em 0.75em;
	}

	& > *:first-child {
		margin-top: 0.75em;
	}

	& > *:last-child {
		margin-bottom: 0.75em;
	}*/

	a {
		text-decoration: none;
		color:inherit;
		border-bottom: 1px solid transparent;
		position: relative;

		&:after {
			@include links_transitions();
			display: block;
			content: '';
			position: absolute;
			height: 1px;
			left:0;
			right:0;
			background-color: transparent;
			bottom: 1px;
		}

		&:hover:after {
			background-color: black;
		}			
	}

	article {
		border-radius: $wrap_border_radius;
	}

	em {
		font-style: normal;
		font-weight: bold;
		background-color: $input_selected;
		color: white;
		border-radius: 0.25em;
	}

	small {
		font-weight: normal;
	}

	/*section {
		//margin: 0.375em 0;

		&.form {
			margin:0;

			article {
				margin :0.375em 0.75em;
			}
		}
	}*/

	h1, h2, h3, h4 {
		margin:0;
		padding:0;
		border:0;
		-webkit-margin-before: 0;
   		-webkit-margin-after: 0;
	}

	h1 {
		font-size: 2em;
	}

	h2 {
		font-size: 1.25em;
		font-weight:normal;
	}

	h3 {
		font-size: 2.25em;
		font-weight:normal;
	}

	h4 {
		font-size: 1.125em;
		font-weight:normal;
	}
}

@media only screen and (max-width: 480px) {

	main {

		& > *:first-child {
			margin-top: 2em;
		}
	}

}