@import "variables";

@font-face 	{
	font-family: "amsans";
	src: font-url('amsans.eot');
	src: font-url('amsans.eot?#iefix') format('embedded-opentype'), font-url('amsans.otf');
}

html {
	height: 100%;

	body {
		margin:0;
		background-color: $body_background;
		color: $body_text;
  		min-height:100%;
		position:relative;

		display: flex;
		align-items: stretch;
  		flex-direction: column;

		main {
			@include scrollbars();
			overflow-y:auto;
			overflow-x: hidden;
			flex: 1 1 auto;
			display: flex;
			flex-direction: column;
			align-items: stretch;
			background-color: $workspace_background;
			color: $workspace_text;

			a {
				text-decoration: none;
				color:inherit;
				border-bottom: 1px solid transparent;
				position: relative;

				&:after {
					@include links_transitions();
					display: block;
					content: '';
					position: absolute;
					height: 1px;
					left:0;
					right:0;
					background-color: transparent;
					bottom: 1px;
				}

				&:hover:after {
					background-color: black;
				}
			}

			article {
				border-radius: $wrap_border_radius;
			}

			caption, div.caption {
				text-align:left;
				padding: 0 0.5em;
				font-weight: bold;
				box-sizing: border-box;
				border-top-left-radius: 0.4375em;
				border-top-right-radius: 0.4375em;
				width:100%;
				line-height: 1.5em;
				background-color: $widget_caption_background;
				color: $widget_caption_text;

				&.danger {
					background-color: $widget_caption_danger_background;
					color: $widget_caption_danger_text;
				}

				&.required {
					color: $widget_caption_required_text;

					&::before {
						content: '*';
					}
				}
			}

			em {
				font-style: normal;
				font-weight: bold;
				background-color: $button_danger_background;
				color: $button_danger_text;
				border-radius: 0.25em;
			}

			small {
				font-weight: normal;
			}

			h1, h2, h3, h4 {
				margin:0;
				padding:0;
				border:0;
				-webkit-margin-before: 0;
		   		-webkit-margin-after: 0;
			}

			h1 {
				font-size: 2em;
			}

			h2 {
				font-size: 1.25em;
				font-weight:normal;
			}

			h3 {
				font-size: 2.25em;
				font-weight:normal;
			}

			h4 {
				font-size: 1.125em;
				font-weight:normal;
			}

			div.form_errors {

				span {
					display: inline-block;
					background-color: $button_danger_background;
					color: $button_danger_text;
					padding: 0.125em 0.25em;
					margin: 0.125em;
					margin-top: 0.25em;
					border-radius: 0.25em;
				}
			}
		}
	}
}
