@import "variables";

table {
	border-radius: 0.5em;
	border-collapse: collapse;
	position: relative;
	width:100%;

	th, td {
		padding: 0 0.25em;
		text-overflow: ellipsis;
		overflow-x: hidden;
	}

	td {
		position: relative;

		sup {
			display: none;
		}
	}

	td:first-child, th:first-child {
		padding-left:0.375em;
	}

	td:last-child, th:last-child {
		padding-right:0.375em;
	}

	td.checkbox {
		padding-right: 0.125em;
	}

	thead {
		background-color: $table_head_background;
		color: $table_head_text;

		tr {
			line-height:1.5em;

			th {
				text-align: left;

				a.sort_link {

					b {
						color: $input_disabled_background;
						white-space: nowrap;
					}

					&.asc, &.desc {

						b {
							color: $black;
						}
					}

					&.preffered {

						b {

							&::before {
								content: '•';
								display: inline-block;
							}
						}
					}
				}
			}
		}

		&.danger {
			//background-color: $button_danger;
			//color: $white;
		}
	}

	tbody {

		tr {
			@include links_transitions();
			line-height:1.25em;

			& > td {

				var, dfn {
					font-style: normal;
					@include links_transitions();
					display: inline-block;
					width:1em;
					height: 1em;
					text-align: center;
					background-color: $black;
					color: $white;
					line-height: 1em;
					margin: 0 0.125em;
					border-radius: 50%;
					cursor: default;
					position: relative;
				}

				var {
					font-weight: bold;
				}

				dfn {

					&.previews {
						position: relative;
						@include transform(rotate(45deg));
					}
				}
			}

			td {
				vertical-align: middle;

				&.edit_item, &.delete_item {

					a {
						line-height:1em;
						font-size:0.75em;
						display: block;
						margin: 0;
						word-break: initial;
						border-width:0;
						height: 100%;
					}
				}
			}
		}
	}

	tfoot {
		text-align:right;

		tr {

			th, td {
				font-weight: normal;
				padding-right: 1em;

				span {
					font-weight: bold;
				}
			}
		}
	}
}

table.rows_colored {

	tbody {

		tr {

			&:nth-child(2n) {
				background-color: $table_row_even_background;
			}

			&:nth-child(2n-1) {
				background-color: $table_row_odd_background;
			}

			&.danger {
				background-color: $light_red;

				&:hover {
					background-color: $soft_red;
				}
			}
		}
	}

	&.disabled {
		tbody {

			tr {

				&:nth-child(2n) {
					background-color: $table_row_even_disabled_background;
				}

				&:nth-child(2n-1) {
					background-color: $table_row_odd_disabled_background;
				}
			}
		}
	}
}

table.with_efects {

	tbody {

		tr {

			&:hover {
				background-color: $table_row_hover_background;
				color: $table_row_hover_text;

				td:first-child {

					&::after {
						background-color: $strong_black;
					}
				}
			}

			/*&:active,*/ &.selected {
				background-color: $table_row_selected_background;
				color: $table_row_selected_text;

				&:hover {
					background-color: $table_row_selected_hover_background;
					color: $table_row_selected_hover_text;
				}
			}
		}
	}
}

table.no_results {
	background: inherit;

	thead {
		display: none;
	}

	tbody {
		background: inherit;

		tr {
			width: 100%;
			pointer-events: none !important;
			box-sizing:border-box;

			&.no_results {
				background-color: $table_row_error_background;
				color: $table_row_error_text;

				td {
					padding:0.25em 0.5em;
					border-top-left-radius: 0.375em;
					border-top-right-radius: 0.375em;
				}
			}

			&.solution {
				background: inherit;

				td {
					padding: 0.5em 1em;

					.button {
						pointer-events: auto;
						cursor: pointer;
					}

					ul {
						margin:0.5em;

						li {
							margin: 0.125em 0;
						}
					}
				}
			}

			td {
				width: 100%;
			}
		}

	}

	tfoot {
		display: none;
	}
}

table.no_assocs {

	thead {
		display: none;
	}

	tbody {
		background: inherit;

		tr {
			width: 100%;
			pointer-events: none !important;

			&.no_assocs {
				background-color: $table_row_error_background;
				color: $table_row_error_text;

				td {
					padding:0.25em 0.5em;
				}
			}
		}
	}
}

table.checkboxes_list, table.radio_buttons_list {

	tbody {

		tr {

			td {
				padding: 0 0.25em;

				label {
					display: block;
					width: 100%;
				}
			}

			td:first-child {
				width: auto;
				padding-left: 0.375em;

				/*input.error {

				}*/
			}

			td:last-child {
				width:100%;
			}
		}
	}
}

table.inner_table {
	background-color: transparent !important;

	tbody {
		background-color: transparent !important;

		tr {
			background-color: transparent !important;
			transition: color 0s !important;
			pointer-events: auto !important;

			&:hover {
				background-color: $inner_table_row_hover_background !important;
				color: $inner_table_row_hover_text;
			}
		}
	}
}

table.for_nontabular {

	caption {
		display: block;
		//border-top-right-radius: 0.25em;
	}

	tbody, thead {
		display: block;

		tr {
			display: block;
			padding: 0 0.125em;
   			@include clearfix();

			td {
				display: block;
				box-sizing: border-box;
				padding: 0.25em;

				&:first-child {
					float: left;
				}

				&:last-child {
					min-width: 2em;
					text-align: right;
				}
			}
		}
	}

	tbody {
		padding: 0.25em 0;
		border-bottom-right-radius: 0.25em;
		border-bottom-left-radius: 0.25em;
	}
}

table.no_line_height {

	tbody {

		tr {
			line-height: initial;
		}
	}
}

table.for_forms {

	tbody {

		tr {

			td {
				padding-top: 0.125em;
				padding-bottom: 0.125em;

				&.buttons {
					text-align: right;
					padding: 0.375em;
				}

				input[type=checkbox] {
					display: inline-block;
					vertical-align: middle;
					margin: 0.125em;
					padding:0.25em;
				}

				label {
					line-height: inherit;
				}

				em {
					line-height: inherit;
					display: inline-block;
				}
			}
		}
	}
}

table.for_dialogbox {

	tbody {
		border-radius:0.25em;
		//background-color: transparent;

		tr {

			&:first-child {

				td {

					&:first-child {
						border-top-left-radius: 0.25em;
					}

					&:last-child {
						border-top-right-radius: 0.25em;
					}
				}
			}

			&:last-child {

				td {

					&:first-child {
						border-bottom-left-radius: 0.25em;
					}

					&:last-child {
						border-bottom-right-radius: 0.25em;
					}
				}
			}
		}
	}
}

table.with_controls {

	tfoot {

		tr:last-child {
			//padding-bottom: 0.25em;
			padding-right: 0.25em;

			td {
				padding-bottom: 0.375em;
				white-space: nowrap;
			}
		}
	}
}

table.disabled {
	pointer-events: none;
}

table.no_footer_fix {

	tbody {

		tr:last-child {

			td:first-child {
				border-bottom-left-radius: 0.25em;
			}

			td:last-child {
				border-bottom-right-radius: 0.25em;
			}
		}
	}
}

