@import "variables";

table {
	border-radius: 0.5em;
	border-collapse: collapse;
	position: relative;
	z-index: 0;

	th, td {
		padding: 0 0.25em;
		text-overflow: ellipsis;
		overflow: hidden;
	}

	td:first-child, th:first-child {
		padding-left:0.375em;
	}

	td:last-child, th:last-child {
		padding-right:0.375em;
	}

	td.checkbox {
		padding-right: 0.125em;
	}

	caption {
		text-align:left;
		padding: 0 0.5em;
		font-weight: bold;
		box-sizing: border-box;
		border-top-left-radius: 0.4375em;
		border-top-right-radius: 0.4375em;
		width:100%;
		line-height: 1.5em;
		//border-bottom: 0.125em solid $wrap_border_color;
		background-color: $wrap_border_color_2;
	}

	thead {

		tr {
			line-height:1.5em;

			th {
				text-align: left;
			}
		}
	}

	tbody {
		background-color: $odd_table_line_color;

		tr {
			@include links_transitions();
			line-height:1.25em;
			
			td {
				vertical-align: middle;

				&.edit_item, &.delete_item {

					a {
						line-height:1em;
						font-size:0.75em;
						display: block;
						margin: 0;
						word-break: initial;
						border-width:0;
						height: 100%;
					}
				}
			}
		}
	}

	tfoot {
		text-align:right;

		tr {
			
			th, td {
				font-weight: normal;
				padding-right: 1em;

				span {
					font-weight: bold;
				}
			}
		}
	}
}

table.rows_colored {

	tbody {

		tr {

			&:nth-child(2n) {
				background-color: $even_table_line_color;
			}

			&:nth-child(2n-1) {
				background-color: $odd_table_line_color;
			}
		}
	}

	&.darker {

		tbody {

			tr {

				&:nth-child(2n) {
					background-color: $base_grey;
				}

				&:nth-child(2n-1) {
					background-color: $even_table_line_color;
				}
			}
		}
	}
}

table.with_efects {

	tbody {

		tr {

			&:hover {
				background-color: $table_row_hover;
			}

			&:active, &.selected {
				background-color: $black;
				color: $white;

				&:hover {
					background-color: $button_selected_hover;
				}
			}
		}
	}
}

table.no_results {
	background: inherit;

	thead {
		display: none;
	}

	tbody {
		background: inherit;

		tr {
			width: 100%;
			pointer-events: none !important;

			&.no_results {
				background-color: $button_danger;
				color: $white;

				td {
					padding:0.25em 0.5em;
				}
			}

			&.solution { 
				background: inherit;

				td {
					padding: 0.5em 1em;

					.button {
						pointer-events: auto;
						cursor: pointer;
					}

					ul {
						margin:0.5em;

						li {
							margin: 0.125em 0;
						}
					}
				}
			}

			td {
				width: 100%;
			}
		}

	}
}

table.checkboxes_list, table.radio_buttons_list {

	tbody {

		tr {

			td {
				padding: 0 0.25em;

				label {
					display: block;
					width: 100%;
				}
			}

			td:first-child {
				width: auto;
				padding-left: 0.375em;

				input.error {
					
				}
			}

			td:last-child {
				width:100%;
			}
		}
	}
}

table.inner_table {
	background-color: transparent !important;

	tbody {
		background-color: transparent !important;

		tr {
			background-color: transparent !important;
			transition: color 0s !important;
			pointer-events: auto !important;
			
			&:hover {
				background-color: $black !important;
				color: $white;
			}
		}
	}
}

table.for_nontabular {

	caption {
		display: block;
		border-top-right-radius: 0.25em;
	}

	tbody, thead {
		display: block;
		background-color: $grey_2n;

		tr {
			display: block;
			padding: 0 0.125em;
   			@include clearfix();

			td {
				display: block;
				box-sizing: border-box;
				padding: 0.25em;

				&:first-child {
					float: left;
				}

				&:last-child {
					min-width: 2em;
					text-align: right;
				}
			}
		}
	}

	tbody {
		border-bottom-right-radius: 0.25em;
		border-bottom-left-radius: 0.25em;
	}
}

table.no_line_height {

	tbody {

		tr {
			line-height: initial;
		}
	}
}


table.for_forms {

	tbody {
		background-color: $grey_2n;

		tr {

			td {
				padding-top: 0.125em;
				padding-bottom: 0.125em;

				&.buttons {
					text-align: right;
					padding: 0.375em;
				}

				input[type=checkbox] {
					display: inline-block;
					vertical-align: middle;
					margin: 0.125em;
					padding:0.25em;
				}

				label {
					line-height: inherit;
				}

				em {
					line-height: inherit;
					display: inline-block;
				}
			}
		}
	}
}
