<% 
	options = {
		include_blank: t('search.last_visits')
	}
	
	options.merge!(disabled: "disabled") if @last_visits.blank?
	checked = params.has_key?(:redirect_by_last_visits) ? params[:id].to_i : ""
%>

<div class="last_visits_dropdown">

	<span>
		<%= select_tag(
			'last_visits',
			options_for_select(
				@last_visits.map { |obj| [obj[:title], obj[:id]] },
				checked
			),
			options
		) %>
	</span>

</div>

