
<table class="html_export">

	<thead>
		<tr>
			<td>p.č.</td>
			<% params[:fields].each do |field| %>
				<%= render_html_export_head(field) %>
			<% end %>
		</tr>
	</thead>

	<tbody>
		<% @result.all.each_with_index do |result, i| %>

			<tr>
				<td> <%= i+1 %> </td>

				<% params[:fields].each do |field| %>

					<%= render_html_export_body(field, result) %>

				<% end %>
			</tr>

		<% end %>
	</tbody>
</table>
