body.user_settings.index {

	main {

		article {

			section {
				margin-right: 0.75em;
				float: left;
			}
		}
	}

	@media only screen and (max-width: 480px) {

		main {

			article {
				display: block;

				section {
					float: none;

					&:first-child {
						word-break: break-all;
					}
				}
			}
		}
	}
}
