article.uom_types { 

	section {
		display: table;

		table#uom_types {

			td, th {

				&.uom_types-uom_type {
					white-space: nowrap;
				}
				
				&.uom_types-full_name {
					white-space: nowrap;
				}
			}
		}
	}

	@media only screen and (max-width: 480px) {

		section {
			display: block;

		  	table#uom_types {
		  		
				td, th {

					&.uom_types-uom_type {
						width:50%;
						font-weight: bold;
					}

					&.uom_types-full_name {
						width:50%;
					}

					&.uom_types-description {
						width:100%;
						font-style: italic;
					}
				}
			}
		}
	}
}