article.searchers {
    flex-direction: column;

    section {
        margin: 0.375em 0;
        display: flex;
        flex-direction: column;
        height: 100%;
        position: relative;

        &:first-child {
            margin-top:0;
        }

        &:last-child {
            margin-bottom:0;
        }

        div.content {
            overflow-y: auto;
            border-bottom-left-radius: 0.375em;

            table {

            }
        }

        @media only screen and (max-width: 480px) {

        }
    }
}
