@import "variables";

article.searchers {
    flex-direction: column;
    min-height: 1em;

    section {
        margin: 0.375em 0;
        overflow-y: hidden;

        &:first-child {
            margin-top:0;
        }

        &:last-child {
            margin-bottom:0;
        }

        div.content {
            overflow-y: auto;
            border-bottom-left-radius: 0.375em;
            min-height: 6em;

            table {

                tfoot {

                    tr {

                        td {
                            text-align: center;

                            ul {
                                margin:0.125em 0;
                                padding:0;
                                border:0;

                                li {
                                    display: inline-block;

                                    &.page {

                                        a {
                                            padding: 0 0.25em;
                                            border-radius: 0.25em;

                                            &::after {
                                                display: none;
                                            }
                                        }

                                        &:hover {

                                            a {
                                                background-color: $button_hover_background;
                                                color: $button_hover_text;
                                            }
                                        }

                                        &.current {

                                            a {
                                                color: $button_selected_text;
                                                background-color: $button_selected_hover_background;
                                            }

                                            &:hover {

                                                a {
                                                    background-color: $button_selected_hover_background;
                                                    color: $button_selected_hover_text;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        @media only screen and (max-width: 480px) {

        }
    }
}
