
<%= render 'layouts/main_menu' %>

<section class="form">

	<%= form_for @manufacturer do |t| %>

		<%= render 'manufacturers/new/main', t: t %>

		<article class="decorated_wrap shrinked">
			<div>
				<%= t.submit %>
			</div>
		</article>

	<% end %>

</section>