<footer>

	<div>
		<%= t(:footer_advertisement) %>
		<%= link_to t(:footer_advertisement_webpage), t(:footer_advertisement_webpage_link) %>
	</div>

	<div>
		<%= t(:footer_advertisement_creator) %>
	</div>
	
</footer>