<% input_fields.each do |field_name, opts| %>

	<% 
		id = "#{field_name}" if (!defined?(opts[:id]))||(opts[:id].blank?)
		class_string = opts[:required] ? "required " : ""
		class_string += "check_existence" if opts[:check_existence]
	%>

	<div>

		<%= obj.label(
			field_name, 
			class: class_string,
		) %>

		<% if opts[:type].nil? || opts[:type] == :field %>
			<%= obj.text_field( 
				field_name,
				autocomplete: (opts[:autocomplete] ? "on" : "off"),
				class: class_string,
				id: id,
				autofocus: ("autofocus" if opts[:autofocus]) 
			) %>
		<% elsif opts[:type] == :textarea %>
			<%= obj.text_area(
				field_name
			) %>
		<% end %>

		<% if !opts[:reset_button].blank? %>

			<% if opts[:reset_button] == true 
				js = "$(\'##{id}\').val(\'\').trigger(\'input\');"
			elsif opts[:reset_button] == :all 
				js = "$(\'##{id}\').closest(\'article\').find(\'input[type=text]\').val(\'\').trigger(\'input\');"
			end %>

			<%= button_tag(t(:clear_search_short),
				type: 'button',
				onclick: js,
				class: 'button'
			) %>

		<% end %>
	</div>

<% end %>