<div class="tablewrap">
			
	<table class="rows_colored new_checkboxes_list with_efects">

		<thead>
			<tr>
				<th colspan="10"> 
					<%= cbt title %>
				</th>
			</tr>
		</thead>

		<tbody>
			<%= form_object.collection_check_boxes(
				result_of_collection,
				ar_object,
				key,
				name
			) do |b| 
				("<tr> <td>" +
				b.check_box +
				"</td><td>" +
				b.label +
				"</td></tr>").html_safe 
			end %>
		</tbody>

	</table>
	
</div>