
<% if items.size == 0 %>

	<tr class="no_results">

		<td colspan="100"> 

			<%= t :no_results if err_message.blank?%>
			<%= cbt err_message.to_sym if !err_message.blank?%>

		</td>

	</tr>

<% end %>