
<% 
if defined? obj
	parent_instvar = instance_variable_get("@#{obj.object.class.name.underscore}") 
#else
	#parent_instvar = @search.try(:object).try(:model_name)
end
%>

<% results_obj.each do |row| %>

	<% 
	active = results_obj.length == 1 
	if defined? obj
		true_array = []
		cols.each do |field| 
			assoc_from_parent_obj = parent_instvar.send("#{results_obj.model_name.to_s.underscore}_#{field.to_s}")
			assoc_from_assocs = row.send(field)
			assoc_from_assocs == assoc_from_parent_obj ? (true_array << true) : (true_array << false)
		end 
		active = !true_array.include?(false)
	end
	#active = results_obj.length == 1 
	%>

	<tr <%= "class=selected".html_safe if active %>>

		<% cols.each do |field| %>

			<td> 

				<% if field.is_a? Symbol %>

					<% if defined? cols_highlighted[field] %>
						<% if cols_highlighted[field].is_a? Array %>
							<% cols_highlighted[field].each do |f| %>
								<%= higlight_search row, field, f %>
							<% end %>
						<% else %>
							<%= highlight_search row, field, cols_highlighted[field] %>
						<% end %>
					<% end %>

				<% else %>

					<%= field.html_safe %>

				<% end %>

			</td>
			
		<% end %>

	</tr>

<% end %>

<%#= render(
	'layouts/no_results',
	err_message: "new_#{model_meno}_search_no_results"
) if results_obj.length == 0 %>