<% if @administrative_mode %> 

	<td class="edit_item">
		<%= link_to( 
			t(:edit_item), 
			{
				controller: controller_name,
				action: "edit",
				id: item_id
			},
			class: "edit_item button" 
		) %>
	</td>

	<td class="delete_item">
		<%= link_to( 
			t(:delete_item), 
			{
				controller: controller_name,
				action: "delete",
				id: item_id
			},
			class: "delete_item button danger" 
		) %>
	</td>

<% end %>