
<tr <%= ("class=#{html_class_row.to_s}") if (defined? html_class_row)&&(!html_class_row.nil?) %>>

	<% fields.each do |field| %>

		<td> 
			<% if field.is_a? Symbol %>
				<% if (res = o.send(field)).blank? %>
					<%= "---" %>
				<% else %>
					<%= res %>
				<% end %>
			<% else %>
				<%= field.html_safe %>
			<% end %>
		</td>
		
	<% end %>

</tr>
