
<tr <%= html_class_row if (defined? html_class_row)&&(!html_class_row.nil?) %>>

	<% fields.each do |field| %>

		<td> 
			<% if field.is_a? Symbol %>
				<%= o.send(field) %>
			<% else %>
				<%= field.html_safe %>
			<% end %>
		</td>
		
	<% end %>

</tr>