<% content_for :search_bar do %>

	<section class="search_bar"> 

		<%= search_form_for @search, remote: true, class: "decorated_wrap" do |s| %> 
			
			<div>
				<%= render 'layouts/action_add_new' %><!--

				--><%= render 'layouts/action_go_to_administrative_mode' %><!--

				--><%= render 'layouts/action_edit_delete' %>
			</div>

		<% end %>

	</section>

<% end %>